@charset "UTF-8";
/* CSS Document */
body {
	font:nomal 100% Helvetica,Arial,sans-serif;
}
.article-header {
	padding-bottom:30px;
}
.article-header img {
	padding:15px 15px;
	float:left;
	border-radius:50%;
}
.article-header .publisher {
	float:left;
}
.article-header h6 {
	font-size:10px;
	margin-top:-8px;
}
.article-header a {
	float:right;
	color:#383535;
	border-radius: 4px;
}
.article-header .attention {
	font-size:10px;
	margin:10px;
	padding:5px 12px;
	border-style: solid;
    border-color: black;
    border-width: 1px;
}
hr {
	height:1px;
	border:none;
	border-top:1px 
	solid #555555;
}