@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	max-width:500px;
	margin:0 auto;
}
.article-header {
	padding-bottom:30px;
}
.article-header img {
	padding:10px 15px;
	height:40px;
	width:40px;
	float:left;
	border-radius:50%;
}
.article-header .publisher {
	float:left;
}
.publisher h5 {
	font-size:14px;
	margin-top:10px;
}
.publisher h6 {
	font-size:10px;
	margin-top:-15px;
}
.article-header a {
	float:right;
	color:#383535;
	border-radius: 4px;
}
.clearfix{clear:both;height:0;overflow:hidden;}
hr {
	margin-top:1px;
	height:1px;
	border:none;
	border-top:1px solid #555555;
}
.article-header .attention {
	font-size:10px;
	margin:10px;
	padding:5px 12px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.article-content h4 {
	text-align:left;
}
.judge-header {
	background-color:#837E7E;
}
.judge-header p {
	font-size:8px;
}
.article-judge img {
	padding:5px 6px;
	height:25px;
	width:25px;
	float:left;
	border-radius:50%;
}
.article-judge .publisher {
	float:left;
}
.article-judge .publisher h5 {
	font-size:12px;
	margin-top:1px;
	margin-left:5px;
}
.article-judge .publisher h6 {
	font-size:10px;
	margin-top:-15px;
	margin-left:5px;
}
.article-judge a {
	font-size:12px;
	float:right;
	color:#837F7F;
	border-radius: 4px;
}
.judge-content{
	margin-top:0px;
	font-size:12px;
}