.chashi{width:100%;height:150px;background:url(../img/chashi/top.png) no-repeat;background-position:center;}
.mai div{height:88px;margin:28px 0;padding-left:145px;padding-top:27px;}
.mai div p{color:#999;letter-spacing:7px;}
#sale{background:url(../img/chashi/sale01.png) no-repeat;margin-left:115px;width:300px;float:left;}
#buy{background:url(../img/chashi/buy02.png) no-repeat;width:340px;float:right;}
.context{clear:both;font-size:14px;color:#585858;text-align:center;}
#paixu{width:1200px;height:30px;background:#efefef;}
#paixu span{display:block;float:left;line-height:30px;width:171px;}
#paixu span img{vertical-align:middle;margin-left:6px;width:14px;height:14px;}
#list li{width:1200px;height:70px;border-bottom:1px dashed #c9c9c9;padding:11px 0;}
#list span{display:block;float:left;line-height:65px;width:171px;height:65px;overflow:hidden;}
#list .pic img{width:64px;height:64px;}
#list .brand{font-size:18px;font-weight:600;}
#list .time{font-family:Arial, Helvetica, sans-serif;}
#list .jiage{font-size:18px;font-weight:600;color:#1b8b80;font-family:Arial, Helvetica, sans-serif;}
#list .jiage img{vertical-align:middle;margin-right:5px;}
#leixing{position:relative;}
#leixing select{display:none;position:absolute;left:52px;top:30px;width:60px;}
#leixing:hover select{display:block;}
.save{width:100%;border-top:1px solid #c9c9c9;}
.save ul{width:1200px;margin:0 auto;}