@charset "UTF-8";
/* CSS Document */
body {
	font:nomal 100% Helvetica,Arial,sans-serif;
}
.img-logo{
	width:100%;
	height:auto;
	overflow:hidden;
}
.content-intro h2{
	font-size:2em;
	letter-spacing:0.2em;
	margin-bottom:30px;
}
.content-intro h6 {
	font-size:1em;
	letter-spacing:0.2em;
}
.content-intro p {
	font-size:1em;
	letter-spacing:0.1em;
	color:#6c6c6c;
	margin-bottom:30px;
}
.content-intro span{
	color:#bb000d;
}
.content-intro{
	margin-bottom:80px;
}
.img-intro{
	max-width:100%;
	height:auto;
	margin-bottom:80px;
}
.content-detail h6{
	font-size:1em;
}
.content-detail p {
	font-size:1em;
}
.content-product{
	margin-top:80px;
}
.content-product img{
	max-width:100%;
	height:auto;
	padding-right:50px;
	
}
.content-packaging{
	margin-top:80px;
}
.content-packaging img{
	max-width:100%;
	height:auto;
	margin-top:80px;
}
.content-effect {
	background-color:#F1F1F1;
}
.content-effect .container{
	padding:80px 50px;
	background-color:#fff;
}
.content-effect h2{
	font-size:1.5em;
	text-align:center;
}
.content-effect h6{
	font-size:1em;
	text-align:center;
}
.content-effect p{
	padding:10px 10%;
	letter-spacing:5px;
	font-size:1em;
}
.img-footer{
	max-width:100%;
	height:auto;
	padding:50px 25%;
}