<volist name="data" id="v">
<if condition="$v.article_id neq null">
<div class="infos-item">
<div class="img-content">
<a href="__URL__/detail/article_id/{$v.article_id}" target="_self"><img src="http://www.chahuitong.com/data/upload/cms/article/{$v.article_image}" /></a>
</div>
<div class="img-title"><a href="__URL__/detail/article_id/{$v.article_id}" target="_self">{$v.article_title}</a></div>
<div class="img-descri"><a href="__URL__/detail/article_id/{$v.article_id}" target="_self">{$v.article_abstract|subtext=20}...</a></div>
<div class="img-date">{$v.article_author}|{$v.class_name}|{$v.article_publish_time}</div>
</div>
<else/>
</if>
</volist>