<!DOCTYPE HTML>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>客户服务管理后台-修改音乐信息</title>
<link rel="stylesheet" type="text/css" href="_CSS_/admin.css" />
<script type="text/javascript" src="_JS_/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="_STATIC_/WdatePicker.js"></script>
<script type="text/javascript" src="_JS_/formValidatorRegex.js"></script>
<script type="text/javascript" src="_JS_/formValidator.js"></script>
<link rel="stylesheet" type="text/css" href="_JS_/validator.css" />
<script type="text/javascript">
</script>
</head>
<style type="text/css">
.col_five{
	display:inline-block;
	border:1px solid #fbaa01;
	background-color:#fbaa01;
	color:white;
	padding:5px;
}
.admin_box input{
	margin-bottom:10px;
}
#myForm div{
	float:left;
	width:18%;
	overflow:hidden;
	padding:10px;
	margin-bottom:10px;
	height:200px;
}
#myForm div img{
	width:80%;
}
</style>
<body>
<include file="Public/menu" />
<div class="admin_box">
<form action="{:U('Music/update_db')}" method="post" id="myForm" enctype="multipart/form-data">
<input type="hidden" name="id" id="id" value="{$data.id}"/>
<div>
音乐1:<input type="file" name="music1" id="music1"/><br>
<if condition="$data.music1 neq ''">
<audio id="aaa" src="_UPL_{$data.music1}" controls="controls"></audio>
</if>
</div>
<div>
音乐2:<input type="file" name="music2" id="music2"/><br>
<if condition="$data.music2 neq ''">
<audio id="aaa" src="_UPL_{$data.music2}" controls="controls"></audio>
</if>
</div>
<div>
音乐3:<input type="file" name="music3" id="music3"/><br>
<if condition="$data.music3 neq ''">
<audio id="aaa" src="_UPL_{$data.music3}" controls="controls"></audio>
</if>
</div>
<div>
音乐4:<input type="file" name="music4" id="music4"/><br>
<if condition="$data.music4 neq ''">
<audio id="aaa" src="_UPL_{$data.music4}" controls="controls"></audio>
</if>
</div>
<div>
音乐5:<input type="file" name="music5" id="music5"/><br>
<if condition="$data.music5 neq ''">
<audio id="aaa" src="_UPL_{$data.music5}" controls="controls"></audio>
</if>
</div>
<select name="selected">
<option value="{$data.selected}" selected="selected">音乐{$data.selected}</option>
<option value="{$data.music1}">音乐1</option>
<option value="{$data.music2}">音乐2</option>
<option value="{$data.music3}">音乐3</option>
<option value="{$data.music4}">音乐4</option>
<option value="{$data.music5}">音乐5</option>
</select>
<input type="submit" value="提交"/>
</form>
</div>
</body>
</html>