form{width:100%;}
a{color:#666;}
form ul{width:100;background:#fff;margin-top:10px;}
form ul li{margin:0 5% 0 18%;line-height:36px;border-bottom:1px solid #c9c9c9;position:relative;}
form ul li:last-child{border:none;}
form ul li label{display:block;font-size:0.9em;width:60px;position:absolute;left:-55px;}
form ul li label img{width:32px;}
#btn{background:#fff;position:absolute;top:5px;right:0;width:100px;line-height:24px;border:1px solid #c9c9c9;}
form ul li input{height:24px;border:none;}
form>p{font-size:0.8em;margin:8px 5%;}
form>p a:first-child{color:#fe694b;}
form>p a:last-child{float:right;}
form>button{background:#1b8b80;color:#fff;width:94%;line-height:36px; letter-spacing:5px;border:none;margin:36px 3% 0;border-radius:5px;font-size:1.1em;}
form div.word{width:80%;margin:12px auto 0px;}
form div.word p{font-size:0.8em;color:#666;}
form div.word p mark{background:none;color:#1b8b80;float:right;}
form div.word span{font-size:0.8em;color:#999;display:inline-block;width:22%;height:18px;line-height:18px;overflow:hidden;border:1px solid #c9c9c9;border-radius:9px;text-align:center;margin:3px 0.4%;}
#word{margin-top:10px;}
#yixuan span{margin-right:1.5%;vertical-align:middle;background:#ff684b;color:#fff;border:none;}
p.fankui{margin:12px 5%;font-size:0.8em;color:#666;}
p.fankui a{float:right;}
.disanfang{border-top:1px solid #c9c9c9;width:94%;margin:60px auto 10px;position:relative;padding-top:30px;text-align:center;}
.disanfang p{color:#999;font-size:0.8em;width:40%;line-height:20px;position:absolute;top:-10px;left:30%;background:#f5f5f5;}
.disanfang a{display:block;width:33.3%;font-size:0.8em;float:left;}
.disanfang a img{display:block;width:50%;border:1px solid #c9c9c9;border-radius:50%;margin:5px auto;background:#fff;}