header{background:#eee;font-size:1.1em;}
.tuijian{margin-bottom:90px;}
#list{width:100%;}
#list li{width:92%;background:#fff;margin:10px auto;border:1px solid #c9c9c9;}
#list li>img{width:100%;}
#list li h3{margin:6px 0;padding:0 8px;}
#list li h3 a{color:#000;}
#list li p{margin-bottom:10px;padding:0 8px;}
li p span.mon{color:#ff7752;font-size:1.2em;}
#list li p span.pj{margin-left:1rem;}
li p span.num{color:#ff7752;}
li p span.add{float:right;}
#list li p span.add img{width:11px;vertical-align:middle;margin-right:8px;}
.tuijian>p{text-align:center;font-size:0.9em;color:#666;}
.search{width:100%;border-top:1px solid #c9c9c9;}
.search ul li{padding:12px 5%;background:#fff;margin-bottom:12px;}
.search ul li a{color:#000;}
.search ul li a>img{width:90px;height:90px;float:left;margin-right:6px;border-radius:5px;}
.search ul li a h4{line-height:20px;height:40px;overflow:hidden;margin-bottom:6px;}
.search ul li a p{font-size:0.8em;line-height:22px;color:#666;}
.search ul li a p span.add{color:#999;}
header button{width:25px;height:25px;background:rgba(0,0,0,0) url(../img/search.png) no-repeat;background-size:16px;background-position:4px;border:none;position:absolute;right:10%;top:12px;}
#search_t{background:#fff;padding:12px 3%;}
#search_t h4{color:#666;}
#search_t div a{border:1px solid #c9c9c9;display:inline-block;width:22%;line-height:30px;height:30px;overflow:hidden;margin:12px 0.7% 0;color:#000;text-align:center;border-radius:3px;}
#search_t div a:nth-child(4n){margin-right:0;}