a{color:#000;}
.user{background:#fff;padding:8px 0;height:90px;}
.user div.img{border-right:1px solid #c9c9c9;width:25%;float:left;margin:15px 0;}
.user div.img img{display:block;width:60px;height:60px;border-radius:50%;margin:0px auto;}
.user div.xinxi{float:right;width:70%;line-height:30px;font-size:0.9em;color:#999;position:relative;display:none;}
.user div.xinxi p span{color:#000;}
.user div.xinxi p mark{background:none;color:#ff7752;}
.user div.xinxi>a{display:block;position:absolute;top:30px;right:12px;background:#1b8b80;padding:3px 15px;color:#fff;font-size:1.1em;border-radius:5px;}
.user div.land{width:70%;float:right;margin-top:30px;}
.user div.land a{display:inline-block;border:1px solid #c9c9c9;border-radius:5px;padding:2px 15%;}
.user div.land a:first-child{margin-right:5%;}
.mydingdan{clear:both;background:#fff;margin-top:8px;padding-bottom:16px;}
.mydingdan>h4{padding:10px 3%;font-weight:500;border-bottom:1px solid #c9c9c9;}
.mydingdan>h4 a{float:right;color:#999;}
.mydingdan ul li{width:23.8%;display:inline-block;text-align:center;font-size:0.8em;}
.mydingdan ul li a img{display:block;margin:12px auto 8px auto;width:2.7em;}
.nav{margin-top:8px;text-align:center;}
.nav a{display:block;float:left;background:#fff;width:33.1%;border-top:1px solid #c9c9c9;border-right:1px solid #c9c9c9;font-size:0.8em;}
.nav a:nth-child(3n){border-right:none;}
.nav a:last-child{margin-bottom:80px;}
.nav a img{display:block;width:3em;margin:15px auto 5px auto;}