<!doctype html>
<html>
<head>
<title>消息</title>
<link rel="stylesheet" type="text/css" href="_CSS_/common.css">
<link rel="stylesheet" type="text/css" href="_CSS_/b2b.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<script src="_JS_/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
	
		var navi = navigator.userAgent;
	if(navi.indexOf("android")!=-1||navi.indexOf("ios")!=-1){
		$(".head").hide();
		$(".height").hide();
		$("nav").hide();
	}
    
});
</script>
</head>

<body>
<div id="main">
  
<include file="public/head"/>
 <div id="box_main" style="height:auto;position:relative;padding-bottom:60px;">
   <div class="main_content">

     <ul class="news_ul">
     <volist name="newslist" id="v">
     <a href="__URL__/newslist/cid/{$v.cid}/pid/{$v.pid}">
       <li>     
       <div class="news_img">
        <img src="__PUBLIC__/upload/{$v.pid|get_img=###}" width="50px" height="auto">        
       </div>
       <div class="news_content"><h1>消息提示</h1>
       <p>
       <if condition="$own eq $v['cid']">       
        您针对-{$v.pid|get_name=###}-的提问 </p>      
         <else />      
       您的产品-{$v.pid|get_name=###}-有供求的信息</p>
       </if>
       </div>
       <div class="news_date">
        <p>{$v.addtime}</p>
       </div>
      
       </li>
        </a>
      </volist>
     </ul>  
     
   </div>
 </div>
<include file="public/foot2"/>
</div>
</body>
</html>