@charset "utf-8";
/* CSS Document */
body{background:#efefef;}
header nav a{width:19%;margin:0 2%;}
.list{width:100%;}
.list ul{width:96%;margin:0 auto;text-align:left;}
.list ul li{width:100%;margin-top:8px;background:#fff;}
.list .pic{float:left;width:28%;background:url(../img/chashi/logo.png) no-repeat;background-size:100% 100%;}
.list .pic img{width:100%;}
.list .text{width:66%;float:right;margin-top:8px;position:relative;padding:0 3%;}
.list .text h5{font-size:0.8em;}
.list .text h5 a{color:#000;}
.list .text h5 span{float:right;color:#585858;font-size:0.9em;font-weight:500;}
.list .text h5 span img{width:12px;margin-right:5px;}
.list .text p{font-size:0.7em;color:#585858;margin-top:8px;line-height:18px;height:36px;overflow:hidden; letter-spacing:1px;}
.list .text .shop{color:#1b8b80;font-size:0.8em;position:absolute;right:0;bottom:10px;width:96%;}
.list .text .shop span{background:#1b8b80;float:right;padding:0 15px;line-height:18px;letter-spacing:3px;}
.list .text .shop span a{color:#fff;font-size:0.8em;display:inline-block;padding:1px 0;}
.mail{text-align:left;width:96%;margin:0 auto;}
.mail li{border:1px solid #c9c9c9;margin:8px 0;padding-left:45%;height:160px}
.mail ul li:first-child{background:url(../img/chashi/fabu01.png) no-repeat;background-size:35%;background-position:10%;}
.mail ul li:last-child{background:url(../img/chashi/fabu02.png) no-repeat;background-size:35%;background-position:10%;}
.mail li h3{padding-top:30px;color:#000;}
.mail li h3 a{color:#000;}
.mail li p{color:#585858;letter-spacing:1px;padding:10px 5% 0 0;font-size:0.9em;}
.img{width:100%;position:relative;}
.img img{width:100%;display:block;}
.img h3{position:absolute;left:5%;top:40px;color:#1b8b80;}
.hangqing{width:100%;}
.hangqing a{color:#1b8b80;display:block;width:100%;white-space:nowrap;overflow:hidden;height:28px;}
.hangqing .tr{background:#efefef;padding:0 2%;}
.hangqing .tr,.hangqing ul li{line-height:40px;}
.hangqing ul li{border-bottom:1px solid #ddd;margin:0 2%;}
.hangqing ul li:last-child{border:none;}
.hangqing .tr span,.hangqing ul li span{display:inline-block;}
.hangqing .tr span:first-child,.hangqing ul li span:first-child{width:40%;}
.hangqing .tr span:nth-child(2),.hangqing ul li span:nth-child(2){width:20%;}
.hangqing .tr span:nth-child(3),.hangqing ul li span:nth-child(3){width:20%;}
.hangqing .tr span:nth-child(4),.hangqing ul li span:nth-child(4){width:20%;}
.hq{width:100%;}
.mingxi{width:90%;border:1px solid #ddd;border-right:1px solid #ddd;border-top:none;margin:0 auto;padding-top:8px;}
.mingxi>li{border-top:1px solid #1b8b80; font-weight:600;}
.lister li{padding:11px 0;}
.lister li:first-child{border-bottom:1px solid #ddd;}
.lister li div{display:inline-block;text-align:center;height:54px;vertical-align:top;}
.lister li div:first-child{width:16%;}
.lister li div:nth-child(2){width:40%;}
.lister li div:nth-child(3){width:40%;}
.lister li div:first-child img{width:36px;display:block;margin:9px auto;}
.lister li div p{line-height:27px;width:100%;white-space:nowrap;overflow:hidden;}
.lister li div p:first-child{color:#d55517;}
.lister li div p:last-child{color:#aaa;font-size:0.9em;}
@media screen and (min-width:400px){
	.list .text .shop{bottom:18px;}
}
@media screen and (min-width:370px) and (max-width:399px){
	.list .text .shop{bottom:15px;}
}
@media screen and (max-width:320px){
	.list .text p{margin-top:5px;line-height:15px;height:30px;
}