.cg{width:100%;height:auto;display: -webkit-box;
-webkit-box-orient: horizontal;}
.cg_left{width:70px}
.cg_right{-webkit-box-flex:1;}
.cg_left ul{padding:0;margin:0;}
.cg_left ul li{list-style:none;text-align:center;font-size:12px;padding:5px 0;background:#EBEBEB;}
.class_name{display:block;border-bottom:1px solid #CCC;width:70%;margin:0 auto;padding-bottom:5px;}
.cg_right_top{width:100%;height:150px;background:url(../img/cg_right.png) no-repeat center center;background-size:90% 100%;}
.second_cg{width:90%;margin:0 auto;}
.cg_list{width:33%;height:auto;display:inline-block}
.cg_list img{width:90%;margin:0 auto}
.cg_list h3{font-size:12px;text-align:center}
.second_cg a{color:#333}
.cg_left .on{background:#FFF;border-top:1px solid #CCC;border-bottom:1px solid #CCC;color:#F90;}
.cg_left .off{background:#EBEBEB;}
.header{width:100%;height:45px;background:#FC0;display: -webkit-box;
-webkit-box-orient: horizontal;}
.arrowleft{width:40px;background:url(../img/arrowleft.png) center center no-repeat;}
.cg_search{-webkit-box-flex:1;height:45px;line-height:45px;}
.sg{width:80%;background:#FFF;height:30px;margin-top:10px;margin-left:30px;line-height:30px;position:relative}
.cg_sc{border:none}
.searchspan{width:30px;height:30px;display:block;position:absolute;top:0;right:0px;background:url(../img/ico_03.png) center  center no-repeat;background-size:100% 100%;z-index:999}
