@charset "utf-8";
/* CSS Document */
.focus{width:100%;margin:0 auto;position:relative;overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:30px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:0px 5px;font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:18px; height:3px; background:rgba(255,255,255,0.7); margin:0 5px;  vertical-align:top; overflow:hidden;}
.focus .hd ul .on{ background:#fff;}
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;}
.focus .bd li{position:relative;}
.focus .title{width:100%;background:rgba(0,0,0,0.5);color:#fff;line-height:25px;font-size:0.9em;position:absolute;left:0;bottom:5px;index:9;}
#list{width:100%;}
#list a{display:block;float:left;width:25%;border-radius:50%;margin:16px 4%;}
#list a:first-child{background:url(../img/st05.png) no-repeat;background-size:100% 100%;}
#list a:first-child#bg{background:url(../img/st04.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(2){background:url(../img/st08.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(2)#bg{background:url(../img/st06.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(3){background:url(../img/st10.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(3)#bg{background:url(../img/st07.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(4){background:url(../img/st12.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(4)#bg{background:url(../img/st09.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(5){background:url(../img/st14.png) no-repeat;background-size:100% 100%;}
#list a:nth-child(5)#bg{background:url(../img/st11.png) no-repeat;background-size:100% 100%;}
#list a:last-child{background:url(../img/st15.png) no-repeat;background-size:100% 100%;}
#list a:last-child#bg{background:url(../img/st13.png) no-repeat;background-size:100% 100%;}
.type{background:#efefef;padding-top:10px;padding-bottom:20px;width:100%;max-width:640px;min-width:320px;text-align:left;display:none;}
.type a{color:#585858;}
.type h4{clear:both;margin:7px 7%;}
.type p{margin:14px 7%;}
.type p a{width:24%;display:block;float:left;border-right:1px solid #c9c9c9;font-size:0.8em;text-align:center;line-height:18px;margin-bottom:10px;}
.type p a:last-child{border:none;}
#a1{padding-top:0;}
.type ul li h3{background:#fff;clear:both;line-height:36px;text-align:center;}
.type ul li h3 a{color:#1b8b80;font-size:0.9em;font-weight:500;}
.type ul li h3 span{display:inline-block;width:30px;height:20px;background:url(../img/down.png) no-repeat center;background-size:100% 100%;margin-left:10px;vertical-align:middle;}
.type ul li h3 #on{background:url(../img/up.png) no-repeat center;background-size:100% 100%;}
.type ul li .cha{padding-top:6px;}