<!doctype html>
<html>
<head>
<title>消息</title>
<link rel="stylesheet" type="text/css" href="_CSS_/common.css">
<link rel="stylesheet" type="text/css" href="_CSS_/b2b.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
</head>

<body>
<div id="main">
  
<include file="public/head"/>
 <div id="box_main">
   <div class="main_content">
     <ul class="news_ul">
       <li>
       <div class="news_img">
        <img src="_IMG_/1.png" width="50px" height="auto">
       </div>
       <div class="news_content"><h1>系统消息</h1>
       <p>尊贵的会员，您好！您发布的茶，已被多人收藏....<p>
       </div>
       <div class="news_date">
        <p>2015-05-15</p>
       </div>
       </li>
       <li>
       <div class="news_img">
        <img src="_IMG_/2.png" width="50px" height="auto">
       </div>
       <div class="news_content"><h1>系统消息</h1>
       <p>尊贵的会员，您好！您发布的茶，已被多人收藏....<p>
       </div>
       <div class="news_date">
        <p>2015-05-15</p>
       </div>
       </li>
        <li>
       <div class="news_img">
        <img src="_IMG_/3.png" width="50px" height="auto">
       </div>
       <div class="news_content"><h1>系统消息</h1>
       <p>尊贵的会员，您好！您发布的茶，已被多人收藏....<p>
       </div>
       <div class="news_date">
        <p>2015-05-15</p>
       </div>
       </li> 
     </ul>  
   </div>
 </div>
<include file="public/foot"/>
</div>
</body>
</html>