@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{width:100%;min-width:320px;max-width:640px;text-align:center;background:#fff;margin:0 auto;}
a{text-decoration:none;}
ul{list-style-type:none;margin:0px;padding:0px;}
header{width:100%;height:40px;background:#f5f5f5;padding:3px 0px 0px 0px;line-height:40px;color:#a15641;font-size:1.2em;}
header a:first-child{float:left; display:block;}
header a:last-child{float:right;}
header img{width:25px;height:25px;margin-top:8px;}
.mail{width:100%;padding-bottom:70px;}
.nav{height:30px;padding:2px 0;border-bottom:1px solid #a15641;font-weight:400}
.nav img{height:30px;}
.nav a{float:left;margin:1px 1px;padding:5px 0px;background:#a15641;color:#fff;width:26%;display:block;}
.nav a:hover{margin:1px 1px;padding:2px 0px 9px 0px;background:#fff;color:#a15641;border-left:1px solid #a15641;border-top:1px solid #a15641;border-right:1px solid #a15641;}
.details{widows:100%;padding:15px 5%;color:#b4b4b4;}
.details ul li{height:91px;border-bottom:1px solid #CCC;padding-top:10px;}
.details ul li a h3{color:#2a2a2a;font-size:1.2em;margin-bottom:5px;text-align:center;text-align:left;padding-left:20px}
.details .pic{width:22%;float:left;position:relative;border:1px solid #8f8f8f;border-radius:6px;overflow:hidden;}
.details .picimg{width:100%;position:relative;top:-1px;left:0;}
.details .state{position:absolute;top:0px;left:5px;}
.details .state img{border:none;width:20px;}
.details .shop{width:75%;float:right;}
.details .shop .title{width:67%;height:60px; overflow:hidden;float:left;font-size:0.8em;text-align:left;padding-left:5px;}
.details .shop .title span:first-child{float:left;margin-right:10%;}
.details .shop .jiage{float:right;color:#a15641;padding-top:20px;font-weight:800;}
.details .time{float:right;font-size:0.7em;padding-top:8px;}
.details .time img{width:14px;vertical-align:middle;margin-right:2px;}
nav{width:100%;height:55px;background:#fff;position:fixed;left:0px;bottom:0px;border-top: 1px solid #ddd;padding-top:5px;}
nav a{float:left;background:#fff;width:25%;color:#999;}
nav a:first-child{color:#a15641;}
nav img{width:30px;}
/*头部幻灯片开始*/
.focus{width:100%;margin:0 auto;position:relative;overflow:hidden;background:#fff;}
.focus .hd{width:100%;height:11px;position:absolute;z-index:1;bottom:5px;text-align:center;}
.focus .hd ul{display:inline-block;height:5px; padding:3px 5px; 
-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;}
.focus .hd ul .on{ background:#a15641;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{width:100%;background:url(img/loading.gif) center center no-repeat;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */
#think_page_trace{display:none}
.nav .on{margin: 1px 1px;
padding: 2px 0px 9px 0px;
background: #fff;
color: #a15641;
border-left: 1px solid #a15641;
border-top: 1px solid #a15641;
border-right: 1px solid #a15641;}

/*头部幻灯片结束.*/

.page{padding-top:2em;text-align:center;}
.page a{display:inline-block;width:30px;padding:5px 10px;margin:0 10px;font-size:14px}
.page span{display:inline-block;width:30px;padding:5px 10px;font-size:14px}


