@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{width:100%;min-width:320px;max-width:640px;text-align:center;background:#f8f8f8;font-family:"微软雅黑";margin:0 auto;}
a{text-decoration:none; color:#9a9a9a;}
header{background:url(../img/logobg.gif);background-repeat:no-repeat;background-size:contain;width:100%;position:relative;}
header div{height:150px;margin:0px 30px auto 10px;}
header div img{width:20px;height:20px;margin-top:10px;}
header div a:first-child{float:left; display:block;}
header div a:last-child{float:right;}
header nav{width:100%;font-size:1.2em; position:absolute;left:0px;bottom:15px;}
header nav a{width:49%; color:#fff;float:left;}
header nav a:first-child{border-right:1px solid #fff;}
.sub{color:#9a9a9a;}
.sub form{background:url(../img/fff.png) repeat-x;}
.sub form input[type=text]{background:url(../img/user.png) no-repeat;border-left:50px solid #000;}
.sub form input[id=password]{background:url(../img/pass.png) no-repeat;}
.sub form input[type=email]{background:url(../img/email.png) no-repeat;}
.sub form input[type=text],.sub form input[type=email],.sub form input[type=password]{width:50%;height:36px;border:none;padding:2px 80px;margin:1px 5% 1px 10%;background-size:25px 25px; background-position:30px 10px; background-color:#fff;outline:medium;border-bottom:1px solid #dcdddd;}
.sub form{border-top:1px solid #999999;margin-top:10px;}
.sub form input[type=checkbox]{background:#fff;width:20px;height:20px;margin-right:10px; vertical-align:middle;}
.sub form a{text-decoration:underline;margin-left:20px;}
.sub form input[type=submit]{background:#fbbb01;color:#fff;width:75%;height:50px; font-size:1.4em;margin-top:30px;border:none;}
.line{width:100%;height:15px;border-top:1px solid #999;}
.denglu{background:url(../img/denglu.png) no-repeat;width:100%;height:70px;background-size:contain;margin:60px 0px 20px 0px;color:#9a9a9a; font-size:2em;}
.logodl{width:100%;height:70px;}
.logodl a{float:left;width:33%;}
.logodl img{width:60px;}
header .sanjiao{display:inline-block; border:0 solid #fff; border-width:0 10px 12px; border-color:#fff rgba(255,255,255,0) ;width:0; overflow:hidden;height:0;}
.usert{background:#ffebec;width:75%;height:20px;border:1px solid #ffbdbf;position:relative;left:15%;top:-2px;font-size:10px;line-height:20px;color:#e6393d;display:none;}