<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>购物车</title>
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/class.css" type="text/css" rel="stylesheet">
<link href="_CSS_/shopcart.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
<a href="javascript:history.go(-1)"><img src="_IMG_/fanhui.png"></a>购物车
<a href="__URL__/index"><img src="_IMG_/home.png"></a>
</header>
<div class="mail">
<div id="nav" class="nav">
<span class="on">1.购物车</span>><span>2.确认</span>><span>3.付款</span>><span>4.完成</span>
</div>
<!--start-->
          <script type="text/html" id="cart-list">
            <% if(cart_list.length >0){%>
                <ul class="cart-list">
                    <% for (var i = 0;i<cart_list.length;i++){%>
                        <li class="liebiao">
                            <div class="box">
                            <span class="cart-list-del" cart_id="<%=cart_list[i].cart_id%>">
                                <span class="i-del"></span>
                            </span>
							</div>
                            <div class="cart-litem-wp clearfix">
                                <a class="cart-litemw-imgwp" href="<%=WapSiteUrl%>/index.php/Home/Index/goods?goods_id=<%=cart_list[i].goods_id%>">
                                    <img src="<%=cart_list[i].goods_image_url%>"/>
                                </a>
                                <div class="title" cart_id="<%=cart_list[i].cart_id%>">
                                    <a class="cart-litemwc-pdname" href="<%=WapSiteUrl%>/index.php/Home/Index/goods?goods_id=<%=cart_list[i].goods_id%>">
                                        <p><%=cart_list[i].goods_name%></p>
                                    </a>
                                    
                                        <mark>￥<span class="jiage"><%=cart_list[i].goods_price%></span></mark>
                                   
                                     
                                  
                                       <label class="cart-litemw-cnt" cart_id="<%=cart_list[i].cart_id%>"> <span class="minus-wp jian fleft">
                                               <span class="i-minus" >-</span>
                                              </span>
										 <input type="text" class="buy-num buynum fleft geshu" value="<%=cart_list[i].goods_num%>"/>
                                       
                                        <span class="add-wp jia fleft">
                                            <span class="i-add">+</span>
                                        </span>
										<p class="mt5" style="display:none">
                                        商品总价：￥<span class="goods-total-price"><%=cart_list[i].goods_sum%></span>
                                    </p>
										</label>
                                  
                                </div>
                            </div>
                           
                        </li>
						
                    <%}%>
                    <li class="cart-list-oitem mt10" style="display:none">
                        商品总金额：<span class="clr-d94 total_price">￥<%=sum%></span>
                    </li>
                    <li style="display:none">
                        <a href="javascript:void(0)" class="goto-settlement mt10">去结算</a>
                    </li>
                    <li style="display:none">
                        <a href="<%=WapSiteUrl%>/tmpl/product_list.html?gc_id=0" class="goto-shopping mt10">去逛逛</a>
                    </li>
					
                </ul>
				
            <%}else{%>
                <div class="no-record m10">
                    暂无记录
                </div>
            <%}%>
            </script>

<!---end-->
<div id="cart-list-wp"></div>
<ul class="cart-list" id="inneed"></ul>
<script type="text/javascript" src="_JS_/zepto.min.js"></script>
    <script type="text/javascript" src="_JS_/config.js"></script>  
    <script type="text/javascript" src="_JS_/template.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <script type="text/javascript" src="_JS_/simple-plugin.js"></script>
    <script type="text/javascript" src="_JS_/tmpl/common-top.js"></script>
    <script type="text/javascript" src="_JS_/tmpl/cart-list.js"></script>
<div>

</div>
</div>
<nav>
<div class="zong"><div class="roundedTwo" id="roundedTwo">
<input type="checkbox" value="None" id="roundedTwo" name="checkz"/>
<label for="roundedTwo"></label>
</div>全选<div class="jine">总金额<br><span><span class="total" style="font-size:1em">0</span></span></div></div>
<div class="jiesuan">结算(<span class="num">0</span>)</div>
</nav>
    
</body>
</html>
