header{position:relative;}
#bianji,#wancheng{position:absolute;right:3%;top:8px;font-size:0.9em;color:#666;}
.shopcar{margin-bottom:130px;}
.shopcar ul li{background:#fff;padding:5px 3%;;margin:8px 0;}
.shopcar ul li>a img{width:95px;height:95px;}
.shopcar ul li div.checkbox{float:left;margin:35px 5px 0 0;}
div.shopcar_t{width:58%;;height:95px;float:right;position:relative;}
div.shopcar_t h4{width:100%;height:40px;line-height:20px;overflow:hidden;}
div.shopcar_t h4 a{color:#000;}
div.shopcar_t>p{font-size:0.8em;color:#666;margin-top:8px;}
div.shopcar_t>p span{margin-right:8px;}
div.shopcar_t>div{color:#fe694b;position:absolute;bottom:0;right:0;width:100%;}
div.shopcar_t>div mark{background:none;color:#fe694b;}
.jiajian{float:right;}
.jiajian .num{width:45px;text-align:center;background:#f5f5f5;border:none;height:21px;vertical-align:top;}
.jiajian span{background:#f5f5f5;color:#999;line-height:21px;border-radius:3px;display:inline-block;width:21px;height:21px;text-align:center;}
.jiajian .jian{margin-right:5px;}
.jiajian .jia{margin-left:5px;}
.tol{width:100%;max-width:640px;height:60px;line-height:60px;background:#fff;position:fixed;bottom:60px;border-bottom:1px solid #ccc;}
.tol .checkbox{float:left;margin:14px 6%;}
.tol .quanxuan{float:left;width:21%;}
#jiesuan,#shanchu{background:#1b8b80;color:#fff;display:block;width:29.1%;text-align:center;letter-spacing:5px;float:right;}
.tol .heji{width:49.8%;float:left;text-align:right;font-weight:600;}
.tol .heji mark{background:none;margin-right:8px;color:#fe694b;}
#move{background:#807e7e;color:#fff;display:block;width:33.3%;text-align:center;float:right;display:none;}
#shanchu{display:none;}
#kong{width:100%;margin-top:100px;text-align:center;display:none;}
#kong img{width:15%;}
#kong p{font-size:0.8em;color:#666;margin:8px 0 25px;}
#kong a{border:1px solid #fe694b;color:#fe694b;font-weight:600;padding:5px 20px;}
#wancheng{display:none;}
.xinxi{background:#fff;padding:12px 5%;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;border-top:1px solid #c9c9c9;}
.xinxi p{line-height:24px;}
.xinxi p span{float:right;}
.xinxi>a{display:block;color:#666;border:1px solid #c9c9c9;font-size:0.9em;text-align:center;width:110px;line-height:25px;margin:40px auto 12px;}
.buypay{background:#fff;margin:12px 0;border-top:1px solid #c9c9c9;}
.buypay ul li{border-bottom:1px solid #c9c9c9;line-height:48px;padding:0 5%;}
.buypay ul li img{width:36px;vertical-align:middle;margin-right:6px;}
.buypay ul li .checkbox{float:right;margin-top:12px;}
.shopcar ul li>p{color:#666;line-height:28px;}
.shopcar ul li>p>span{float:right;}
.shopcar ul li>p.on{border-top:1px solid #c9c9c9;}
.shopcar ul li>p mark{background:none;color:#fe694b;}
.shopcar .liuyan{font-size:0.9em;margin-top:5px;border-top:1px solid #c9c9c9;}
.shopcar .liuyan p{line-height:30px;}
.shopcar .liuyan p>span{float:right;}
.shopcar .liuyan p input{vertical-align:inherit;}
.shopcar .liuyan p mark{background:none;color:#999;}
.shopcar .liuyan p textarea{vertical-align:text-top;width:75%;width:calc(100% - 75px);height:50px;border:none;}
