<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>活动发布</title><meta name="keywords" content="茶汇通,资讯,信息">
<meta name="description" content="茶汇通资讯信息">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/shequ/share.css" type="text/css" rel="stylesheet">
<link href="_CSS_/shequ/shequ.css" type="text/css" rel="stylesheet">
<link href="_CSS_/shequ/huodong.css" type="text/css" rel="stylesheet">
<script src="_JS_/jquery.min.js"></script>
<script src="_JS_/jquery.cookie.js"></script>
<script>

   $(document).ready(function(){
	   
	   var username=$.cookie("username");
	   
	   var key=$.cookie("key");
	   
	   var active_id={$active_id};
	   
	   var imagearray=new Array();
	   	   
	   get_active_content();
	   
	   $(".del").click(delpic);
	   
	   
	   function get_active_content(){
		   
		   $.ajax({
			   
			   url:"__URL__/active_detail_api",
			   
			   type:"post",
			   
			   dataType:"json",
			   
			   data:{active_id:active_id},
			   
			   success:function(data){
				   
				   if(data.code==200){
					   
					$("input[name='active_title']").val(data.content.active_title);
			   
			       $("input[name='location']").val(data.content.location);
			   
			       $("input[name='join_time']").val(data.content.join_time);
			   
			       $("input[name='last_time']").val(data.content.last_time);
			   
			       $("input[name='telphone']").val(data.content.telphone);
			   
			       $("input[name='free']").val(data.content.free);
			   
			       $(".content").val(data.content.content);
				   
				   
				   
				    imagearray=data.content.pics.split(",");
					
					for(var i=1;i<=imagearray.length;i++){
						
						$(".imageshow0"+i).css("display","inline-block");
						
						$(".del0"+i).css("display","inline-block");
						
						var j=i*1-1*1
						
						$(".imageshow0"+i).attr("src","/data/upload/qunzi/"+imagearray[j]);
										
						
						}

	   
					   
					   
					   }
				   	   
				   }
			   
			   
			   })
   
		   }
	   
	   
	   $("input[name='btn']").click(function(){
		   
		   var i=$("input[name='image']").val();
		   
		   $("input[name='pic"+i+"']").click();	 
		   
		   
		   })
		   
		$(".file").change(function(){
			
		 var i=$("input[name='image']").val();			
		 //生成base64	
        var v = $(this).val();
        var reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        reader.onload = function(e){
            console.log(e.target.result);
            $('.picvalue'+i+'').val(e.target.result);
        };
		
		 // $(".imageshow1").show();
		
		var objUrl = getObjectURL(this.files[0]) ;
	    console.log("objUrl = "+objUrl) ;
     	if (objUrl) {
		  $(".imageshow"+i+"").attr("src", objUrl) ;
		  
		  $(".imageshow"+i+"").css("display","inline-block") ;

	     }
		 
		 $("input[name='image']").val(i*1+1*1);	
		 
       
	   });   
	   
	   /*删除上传图片*/
	   function delpic(){
		   
		   var id=$(this).attr("data-id");
		   
		   $(".imageshow0"+id).css("display","none");
		   
		   $(".del0"+id).css("display","none");
		   
		   var i=id*1-1*1;
		   
		   imagearray.splice(i);
		   
		   //var string=imagearray.join(",");
		   
		   //alert(string)   
		   
		   }
	   
	   
	   
	   
	   //建立一個可存取到該file的url
       function getObjectURL(file) {
	   var url = null ; 
	   if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	    } else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	   } else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	   }
    	return url ;
     }
	 
	 $(".submit").click(function(){
		 	  
		       var pic1=$("input[name='picvalue1']").val();
			  		  
		       var pic2=$("input[name='picvalue2']").val();
			  
			   var pic3=$("input[name='picvalue3']").val();
			   
			   var pic4=$("input[name='picvalue4']").val();

              var pic5=$("input[name='picvalue5']").val();
			  
			   var pic6=$("input[name='picvalue6']").val();
			   
			   var active_title=$("input[name='active_title']").val();
			   
			   var location=$("input[name='location']").val();
			   
			   var join_time=$("input[name='join_time']").val();
			   
			   var last_time=$("input[name='last_time']").val();
			   
			   var telphone=$("input[name='telphone']").val();
			   
			   var free=$("input[name='free']").val();
			   
			   var content=$(".content").val();
			   
			   var string=imagearray.join(",");
			   
			   //alert(free);

			  
		  $.ajax({
			  
			 url:"__URL__/postSave",
			  
			  dataType:"json",
			  
			  type:"post",
			  
			  data:{username:username,key:key,pic1:pic1,pic2:pic2,pic3:pic3,pic4:pic4,pic5:pic5,pic6:pic6,active_title:active_title,location:location,join_time:join_time,last_time:last_time,telphone:telphone,free:free,content:content,string:string,update:1,active_id:active_id},
			  
			  success:function(data){
				  
		      $(".showmsg").html(data.content);

             $(".showmsg").show();

             $("header").css("opacity","0.3");

             $(".mail").css("opacity","0.3");

             setTimeout(function(){

             $(".showmsg").hide();

             $("header").css("opacity","1");

             $(".mail").css("opacity","1");

        	
              },3000);
		
		     if(data.code==200){
				 
				 
			    // window.location.href="__URL__/index";	   
			   
			     }
				  
				  
				  
				  
				  }
			  
			  
			  
			  
			  
			  
			  })	  
			  		 
		 
		 })
	 
	 
	 
	   
	     
})



</script>
</head>
<body>
<header>
<a href="javaScript:window.history.back();"><img src="_IMG_/fanhui.png"></a>我要发布
<a href="#"><img src="_IMG_/home.png"></a>
</header>
<div class="mail">
<div class="table">
<form action="#" method="post">
<ul>
<li><label>活动主题</label><input type="text" value="" required name="active_title" placeholder="输入主题"></li>
<li><label>活动地点</label><input type="text" value="" required name="location" placeholder="输入地"></li>
<li><label>活动时间</label><input type="text"  name="join_time" value=""><span></span></li>
<li><label>持续时间</label><input type="text"  name="last_time" value=""></li>
<li><label>联系电话</label><input type="text"  name="telphone" value=""></li>
<li><label>活动费用</label><input type="text"  name="free" value=""></li>
</ul>
<textarea name="content" cols="" rows=""  class="content"></textarea><br>
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow01" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow02" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow03" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow04" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow05" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow06" src="">
<div style="clear:both"></div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del01 del" data-id="1" >x</div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del02 del" data-id="2">x</div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del03 del" data-id="3">x</div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del04 del" data-id="4">x</div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del05 del" data-id="5">x</div>
<div style="display:none;width:30%;height:20px;clear:both;border:none;color:#F00;text-align:center" class="del06 del" data-id="6">x</div>
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow1" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow2" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow3" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow4" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow5" src="">
<img style="display:none;width:30%;height:90px;clear:both;border:none" class="imageshow6" src="">
<input type="file" name="pic1" value="" style="display:none" class="file">
<input type="hidden" name="picvalue1" value="" class="picvalue1">
<input type="hidden" name="picvalue2" value="" class="picvalue2">
<input type="hidden" name="picvalue3" value="" class="picvalue3">
<input type="hidden" name="picvalue4" value="" class="picvalue4">
<input type="hidden" name="picvalue5" value="" class="picvalue5">
<input type="hidden" name="picvalue6" value="" class="picvalue6">
<input type="file" name="pic2" value="" style="display:none" class="file">
<input type="file" name="pic3" value="" style="display:none" class="file">
<input type="file" name="pic4" value="" style="display:none" class="file">
<input type="file" name="pic5" value="" style="display:none" class="file">
<input type="file" name="pic6" value="" style="display:none" class="file">
<br>
<input type="button" name="btn"  value="+" style="clear:both"><br>
<input type="hidden" name="image" value="1">
<input type="hidden" name="username" value="">
<input type="hidden" name="key" value="">
<input type="button" class="submit" value="发布" style="width:90%;height:36px;margin:30px auto;background:#1b8b80;color:#fff;font-size:1.2em;border-radius:3px;border:none;letter-spacing:1em;">

</form>

</div>
</div>
<div class="showmsg" style="position: fixed; top: 40%; left: 0px; height: 30px; line-height: 30px; color: white; width: 100%; text-align: center; display: none; background: red;"></div>
</body>
</html>