<!Doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="_CSS_/reset.css">
<link rel="stylesheet" type="text/css" href="_CSS_/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="_CSS_/main.css">
<link rel="stylesheet" type="text/css" href="_CSS_/category.css">
<script src="_JS_/jquery.min.js"></script>
<script>
 $(document).ready(function(){
	 	 
   //客户端去头部	
	if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		$("header").hide();
		$(".header").hide();
		$(".nav1").css("display","none");
		//$("#topss").css('display','none');
		//$(".focus").css("margin-top","0px");
		//alert("1111");
		//document.getElementById("topss").style.display="none";
	  }	
	//end 客户端去头部


	 
	 var cid=$("ul li:first").attr('class');
	 $.post(
     "__URL__/secondcg",
	 {id:cid},	 
     function(data) {
        $(".second_cg").html(data);
     },
      "text"
      )	
	  
	   $(".searchspan").click(function(){
		
        var keyword = encodeURIComponent($('.cg_sc').val());
        location.href ="/wap/index.php/Home/index/product_list?keyword="+keyword;
                  });
	  
	  $("li").click(function(){
		 
         var cid;
		 cid=$(this).attr('id');
		 $("li").attr('class','off');
		 $(this).attr('class','on');
		  $.post(
         "__URL__/secondcg",
	     {id:cid},	 
          function(data) {
           $(".second_cg").html(data);
           },
           "text"
           )	
	 
		 })
	  
	    
	  
	 })
	 	 
</script>
</head>
<body>
<div class="main">
 <div class="header"><div class="arrowleft"><a href="__URL__/index" style="display:block;width:40px;height:45px"></a></div><div class="cg_search"><div class="sg"><input class="cg_sc" value="" type="text"><span class="searchspan"></span></div></div></div>
 <div class="cg">
 <div class="cg_left">
  <ul>
  <volist name="class" id="value" key="k">
    <if condition="$k eq 1">
    <li id="{$value.gc_id}" class='on'><span class="class_name">{$value.gc_name}</span></li> 
    <else />
    <li id="{$value.gc_id}" class='off'><span class="class_name">{$value.gc_name}</span></li> 
   
    </if>
  </volist>
  </ul>
  </div>
 <div class="cg_right">
  <div class="cg_right_top"><a href="#"><img src="_IMG_/cg_right.png"></a></div>
  <div class="second_cg">

  </div>
</div>
<include file="public/foot"/>
</body>
<script>
$(document).ready(function(){
    $('.class_name').click(function(){
		$('.class_name').removeClass("bor-close");
		$(this).parent().prev().find('.class_name').addClass("bor-close");
	});
});
</script>
</html>