<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>用户注册</title><meta name="keywords" content="茶汇通">
<meta name="description" content="茶汇通用户注册">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/share.css" type="text/css" rel="stylesheet">
<style>
.sub form{background-size:100% 176px;}
.sub{position:relative;}
button{position:absolute;top:86px;right:5%;background:#1b8b80;line-height:40px;width:100px;border:none;}
</style>
<script src="_JS_/jquery.min.js"></script>
<script >
$(document).ready(function(){
	
	$("#bon").click(function(){
		  
		    password=$("input[name='password']").val();
			
		    number=$("input[name='username']").val();
			
			$.ajax({
				url:"__URL__/checkmobile",
				
				type:"post",
				
				data:{mobile:number,password:password},
				
				dataType:"json",
				
				success: function(data){
					
					   $("#show").html(data);
					
					   if(data.code!=200){
						   
						   $(".main").css("opacity","0.5");
						   $("#show").html(data.content);
						   $("#show").show();
						   	setTimeout(function(){
							   $("#show").hide();
							   $(".main").css("opacity","1");
						   },3000); 
						   						   
						   }else{
							   
							$(".main").css("opacity","0.5");
						   $("#show").html(data.content);
						   $("#show").show();
						   	setTimeout(function(){
							   $("#show").hide();
							   $(".main").css("opacity","1");
						    },3000); 
							   
							   }				
					}
								
				})
					  
		  })
		  
		  $("#loginbtn").click(function(){
			
			var code=$("input[name='pwd']").val();
			
			var password=$("input[name='password']").val();
			
			if(code==''){
								
				 $(".main").css("opacity","0.5");
						   $("#show").html("验证码不能为空");
						   $("#show").show();
						   	setTimeout(function(){
							   $("#show").hide();
							   $(".main").css("opacity","1");
						   },3000); 
								
				}else{
					
				$.ajax({
					url:"__URL__/loginbymobile",
					
					type:"post",
					
					dataType:"json",
					
					data:{code:code,password:password},
					
					success: function(data){
						
						if(data.code=200){
							
                         window.location.href="/wap/index.php/Home/Index/member";
							
							}else{
						    $(".main").css("opacity","0.5");
						   $("#show").html("验证失败，请重新验证");
						   $("#show").show();
						   	setTimeout(function(){
							   $("#show").hide();
							   $(".main").css("opacity","1");
						   },3000); 
		
						
								}
						
						
						 }				
					
					  })	
				}
		
			})  
	 	  
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 })

</script>
<script>
window.onload=function(){
	var s=60;
	var bon=document.getElementById('bon');
	var username=document.getElementById('username').value;
	var t;
	bon.onclick=function(){
		var username=document.getElementById('username').value;
		if(username.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)){
			bon.disabled=true;
			bon.style.backgroundColor="#c9c9c9";
			daojishi(s);
		}
	};
	function daojishi(){
		bon.innerHTML=s+"秒后重新获取";
		s=s-1;
		t=setTimeout(daojishi,1000);
		if(s<0){
			s=60;
			clearTimeout(t);
			bon.disabled=false;
			bon.style.backgroundColor="#1b8b80";
			bon.innerHTML="获取验证码";
		}
	}
}
</script>
</head>
<body>
<header>
<div class="haed">
<a href="javascript:history.go(-1)"><img src="_IMG_/fanhui02.png"></a>
<a href="http://www.chahuitong.com/wap"><img src="_IMG_/home01.png"></a>
</div>
<nav>
<a href="login.html">登&nbsp;陆<mark></mark></a>
<a>注&nbsp;册<span></span></a>
</nav>
<div class="logo"><img src="_IMG_/logo01.png"></div>
</header>
<div>
<div class="sub">
<form id="form1" name="form1" method="post" action="#">
<input type="text" placeholder="手机号" name="username" id="username"  required><br>
<input type="password" class="password" placeholder="登陆密码" name="password"  required><br>
<input type="text" class="password" placeholder="验证码" name="pwd"  required><br>
<!--
<input type="text" id="username" name="username"  placeholder="邮箱/用户名" required><br>
<input type="email" placeholder="邮箱" name="email" id="email" required><br>
<input type="password" name="pwd" id="userpwd" placeholder="密码" required><br>
<input type="password" name="password_confirm" id="password_confirm" placeholder="再次输入密码" required><br>-->
<div class="line"></div>
<div id="pass" class="usert"></div>
<a href="javascript:void(0);" class="l-btn-login mt10" id="loginbtn">
                立即注册
            </a>
</form>
<button id="bon">获取验证码</button>
</div>
<div class="di3f">
<div class="denglu">
</div>
<div class="error-tips mt10"></div>
<div class="logodl">
<a href="/shop/api.php?act=toqq"><img src="_IMG_/qq.png"><br>QQ</a>
<a href="/shop/api.php?act=tosina"><img src="_IMG_/weibo.png"><br>新浪微博</a>
<a href="#"><img src="_IMG_/weixin.png"><br>微信</a>
</div>
</div>
</div>
<include file="public/foot"/>
  <input type="hidden" name="referurl">
    <script type="text/javascript" src="_JS_/config.js"></script>
    <script type="text/javascript" src="_JS_/zepto.min.js"></script>
    <script type="text/javascript" src="_JS_/template.js"></script>
    <script type="text/javascript" src="_JS_/common.js"></script>
    <script type="text/javascript" src="_JS_/tmpl/common-top.js"></script>
    <script type="text/javascript" src="_JS_/simple-plugin.js"></script>
    <script type="text/javascript" src="_JS_/tmpl/register.js"></script>
</body>
</html>
