@charset "utf-8";
/* CSS Document */
.xinxi{background:#efefef;width:100%;}
.xinxi div img{width:240px;}
.mail h5{background:#fff;margin-top:12px;padding:20px 10px;font-size:1.1em;text-align:left;font-weight:500;}
.xiaol{font-size:0.6em;padding:6px 10px;height:30px;line-height:30px;background:#f8f8f8;}
.xiaol mark{background:#1b8b80;color:#fff;padding:0px 6px;}
.xiaol span{padding:0px 2%;color:#898989;}
.xiaol span b{padding:0px 3px;color:#000;font-weight:500;}
.xiaol .span{border-right:1px solid #898989;}
.details{background:#fff;margin-bottom:60px;}
.details ul li h4{height:25px;}
.details ul li:last-child,.details ul li:nth-child(3){display:none;}
.details ul li h4{position:relative;border-top:1px solid #c9c9c9;line-height:25px;font-size:0.8em;font-weight:500;}
.details ul li:last-child h4{border-bottom:1px solid #c9c9c9;}
h4 div{width:15px;height:15px;border-radius:15px;position:absolute;top:5px;right:35%;}
.close div{background:url(../img/down-1.png) no-repeat; background-size:cover;}
.details ul li h4 a{color:#000;}
.open{border-bottom:1px solid #c9c9c9;}
.open div{background:url(../img/top-1.png) no-repeat;background-size:cover;}
.chanshu{text-align:left;margin:6px 20px 15px 30px;color:#585858;}
.chanshu li{height:30px;border-bottom:1px dashed #d9d9d9;padding-left:6px;line-height:30px;font-size:0.9em;}
.chanshu li span{background:#1b8b80;font-size:0.8em;margin:0px 8px 0px 5px;}
.xq{padding:5px 1.5%;text-align:left;}
.xq img{width:100%;}
.pingjia{background:#efefef;}
.pingjia li{position:relative;margin-bottom:6px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;}
.pingjia li:first-child{border-top:none;}
.pingjia li:last-child{margin-bottom:0px;}
.wenzi{width:100%;text-align:left;background:#fff;padding-top:10px;padding-bottom:20px;position:relative;}
.wenzi time{color:#1b8b80;padding-left:40px;font-size:0.8em;}
.yuan{width:6px;height:6px;background:#1b8b80;border-radius:6px;position:absolute;top:18px;left:22px;}
.wenzi hgroup{padding-top:10px;line-height:25px;border-top:1px dashed #d9d9d9;margin-left:20px;width:60%;margin-top:8px;color:#898989;font-size:0.9em;}
.head{width:25%; position:absolute;top:32px;right:10px;}
.qita{background:#efefef;}
.show{width:32%;min-width:100.2px;background:#fff;float:left;margin:6px 0.6% 0px 0.7%;}
.qita .show:last-child{margin-bottom:60px;}
.title{font-size:0.3em;width:100%;margin:0 auto;}
.title img{width:100%;}
.title p{font-size:2.4em;line-height:16px;height:32px;overflow:hidden;margin:8px 5%;text-align:left;}
.jiage{width:95%;height:20px;text-align:left;line-height:20px;padding-left:5%;padding-bottom:8px;position:relative;}
.jiage mark{ color:#1b8b80;font-size:0.6em;background:#fff;vertical-align:top;}
.jiage img:first-child{height:20px;margin:0 5px 0 10px;}
.jiage span{width:50px;height:20px;display:block;float:right;background:#1b8b80;position:absolute;right:0px;top:0;color:#fff;text-align:center;font-size:0.6em;letter-spacing:1px;}
nav a{width:33.3%;line-height:55px;font-size:0.8em;}
nav img{padding:0px 3px; vertical-align:middle;width:18px;}
nav a:last-child{background:#1b8b80;color:#fff;}
/*头部幻灯片开始*/
.focus{width:100%;height:280px;margin:0 auto;position:relative;overflow:hidden;background:#fff;}
.focus .hd{width:100%;height:11px;position:absolute;z-index:1;bottom:5px;text-align:center;}
.focus .hd ul{display:inline-block;height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:8px; height:8px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; background:#c9c9c9; margin:0 8px;  vertical-align:top; overflow:hidden;}
.focus .hd ul .on{ background:#1b8b80;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{width:240px;  height:240px; background:url(img/loading.gif) center center no-repeat;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */
/*头部幻灯片结束*/
