@charset "utf-8";
/*
*首页样式
*/

.header-wrap{width: 100%;height: 50px;line-height:48px;background:#D9434E;position: relative;}
.htsearch-wrap{padding:0px 50px 0px 10px;}
.htsearch-wrap .search-btn{top: 8px;right: 0px;}
.htsearch-input{height: 30px;border:0px;width: 75%;text-indent: 8px;vertical-align: middle;font-weight: normal;font-size: 14px;-webkit-appearance:none;background:#EBEBEB;}

body{
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;


	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 0;
	margin: 0;
	background-color: #EBEBEB;

	color: #000;
	font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	line-height: 1.25em;
}

.main { max-width: 640px; min-width: 320px; margin: 0 auto;	overflow: hidden;}
.top{width:100%;height:40px;line-height:40px;background:#fabb01;text-align:center;}
.top img{height:26px;padding:7px 0;}
.index_block { width: 100%; clear: both; overflow: hidden;}
.index_block .title { font-size: 1em; color: #777; background-color: #FFF; padding: .8em; }
/* 块模型布局B、D */
.home2 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/; white-space: nowrap;  overflow: hidden;}
.home2_1,
.home2_2 { font-size: 12px; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 50%; *zoom:1/*IE7*/;}
.home2 .border-left { }
.home2 .border-bottom{ border-bottom: 1px solid #D1D1D1;}

.home3 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/;}
.home3 .item { letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 48%; margin: 1%; *zoom:1/*IE7*/;}

.item img {
	width: 100%;
	display: block;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}

.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

.swipe-wrap img { width: 100%; max-height: 240px; min-height: 120px;}

.goods { border: none;}
.goods .title { background-color: transparent; padding: 8px;}
.goods .content { font-size: 0; *word-spacing: -1px/*IE6、7*/;}
.goods-item { font-size: 16px; background-color: #FFF; letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 48%; margin: 1%; border-radius: 5px; *zoom:1/*IE7*/; box-shadow: 0 1px 2px rgba(0,0,0,0.15);}
.goods-item a { display: block;}
.goods-item-pic { display: block; max-width: 240px; min-width: 120px; max-height: 240px; min-height: 120px; margin: 8px auto 0 auto;}
.goods-item-pic img { width: 100%;}
.goods-item-name { font-size: 0.8em; line-height: 18px; color: #777; height: 36px; padding: 8px 8px 0 8px; margin-bottom: 8px; overflow:hidden;}
.goods-item-price { font-size: 1em; color: #F30; height: 20px; padding: 8px 0; margin: 0 8px; border-top: dotted 1px #D1D1D1;}

.with-home-logo {
	background-image: url(../images/home_logo.png);
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 135px;
}

/*分类图标模块*/
.row_category {
	margin-bottom: 0;
	padding: 0;
}

.row {
	overflow: hidden;
	/*background-color:white;*/
	padding: 10px 0px 2px 0px;
}

.row ul{padding:0;margin:0;width:100%}
/*.row_category ul {margin: 1.8rem auto 0;}*/
.row_category li {
	overflow: hidden;
	text-align: center;
	width: 18%;
	display:inline-block;
	font-size:12px;
}

.row_category li a {
	display: block;
	overflow: hidden;
}

.row_category li a img {
	width: 28px;
}

.row_category li p {
	color: #333;
	font-size: 12px;
}


.head_h1{background:#FC0;text-align:center;}

.brand{width:100%;display: -webkit-box;
-webkit-box-orient: horizontal;}
.brand_left{-webkit-box-flex:1;background:url(../img/brandLeft.png) center center;overflow:hidden;width:53px}
.brand_right{-webkit-box-flex:8;border-bottom:1px solid #CCC;}
.brand_right>ul{margin:0 auto;padding:0;}
.brand .brandLi{width:25%;display:inline-block;text-align:center;background:#FFF}
.brand .img{border-top:1px solid #CCC;border-right:1px solid #CCC;}
.brandLi img{width:80%;padding-top:15px}
.xianshileft{height:314px;background:#FF3}
.search{width:100%;background:#FFF;height:35px;line-height:35px;padding:5px 0;}
.searchcontent{width:96%;margin:0 auto;position:relative;z-index:1}
.search-btn1{display:inline-block;background-color:#fabb01;width:23%;height:30px;text-align:center;font-size:12px;line-height:30px;border-radius:3px;color:#fff;}
.search-btn1 img{width:20px;vertical-align:middle;margin-right:6px;}
.item_span{position:absolute;left:0px;top:0;display:block;background:#fabb01;width:40px;height:20px;line-height:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;text-align:left;padding-left:3px;}
/* 本例子css -------------------------------------- */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.bottomimg{width:100%;margin-bottom:56px;}
.bottomimg img{width:100%;}
.bottomimg p{background:#fff;height:30px;line-height:30px;text-align:center;}
.bottomimg p img{width:18px;padding:0px 5px 0px 21px;vertical-align:middle;}
.bottomimg p img:first-child{padding-left:0;}

/*第一个轮播*/
/* 本例子css -------------------------------------- */
	.focus{ min-width:320px;max-width:640px;margin:0 auto; position:relative; overflow:hidden;   }
	.focus .hd{ width:100%; height:3px;  position:absolute; z-index:1; bottom:0; text-align:center;  }
	.focus .hd ul{ overflow:hidden; display:-moz-box; display:-webkit-box; display:box; height:3px; background-color:rgba(51,51,51,0.5);   }
	.focus .hd ul li{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1; }
	.focus .hd ul .on{ background:#FC0 }
	.focus .bd{ position:relative; z-index:0; }
	.focus .bd li img{ width:100%;}
	.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
/*第二个轮播*/
/* 本例子css -------------------------------------- */
	.slideBox{ position:relative; min-width:320px;max-width:640px;}
	.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:30px; right:46.5%; z-index:1; }
	.slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
	.slideBox .hd li.on{ background:#fff;  }
	.slideBox .bd{ position:relative; z-index:0; }
	.slideBox .bd li{ position:relative;  }
	.slideBox .bd li img{ width:100%;display:block;   }
	.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
	.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0px; text-indent:10px; height:30px; line-height:30px; background:#FFF; color:#333;z-index:999;text-align:center;font-size:14px;font-weight:600 ;border-bottom:1px solid #CCC}
	.more{display:block;width:65px;height:30px;position:absolute;bottom:0;right:0px;z-index:1000;font-size:10px;line-height:30px;text-align:center;color:#900;}