*{margin:0;padding:0;}
body{
	font-size:13px;
}
.infos{width:100%;max-width:640px;min-width:320px;maigin:0 auto;}
.feilei-items li{
	list-style: none;
}
a{
	text-decoration:none;
	color:black;
}
a:visited{
	color:black;
}
/*移动端资讯 头部css*/
.head{
	width:100%;
	height:50px;
	background-color:#edb201;
	color:black;
	text-align:center;
	position:fixed;
	top:0px;
	font-size:16px;
	z-index:9999;
}
.head{display:none;}
.head img{
	margin-top:17px;
}
.queryButton{
	float:right;
	margin-right:1em;
}
.pageTitle{
	display:inline-block;
	width:150px;
	margin:0 auto;
}
.backButton{
	margin-left:1em;
}
.backButton{position:absolute;top:0;left:0;}
.himg img{
	width: 18px;
	vertical-align: middle;
}

.fenlei{
	height:40px;
	width:100%;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	overflow-x:scroll;
	overflow-y:hidden;
	border-left:none;
	border-right:none;
}
.feilei-items{
	width: 120%;
	height: 40px;
	padding: 0px;
	margin: 0px;
	line-height: 40px;
}
.feilei-items li{
	float:left;
	text-align: center;
}
.feilei-items li a{
	color:#999999;
	font-size:13px;
	padding:10px 2px;
}
.head h3{
	display:inline-block;
	margin-top:16px;
}

/* 幻灯片 */
.slide{
    position: relative;
    max-width: 640px;
    overflow: hidden;
    margin: 0px auto;
}
.slide:after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;
}
.slide ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 解决js阻塞页面显示首屏 */
.slide li:first-child{
    z-index: 1;
}
.slide li img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.slide .dot{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    font-size: 0;
}
.slide .dot span{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slide .dot .cur{
    background-color: #fff;
}

/*印象*/
.yinxiang{
	margin-top:10px;
	width:100%;
	overflow: hidden;
}
.yinxiang div{
	float:left;
	width:25%;
	text-align:center;
}
.yinxiang div img{
	width:65%;
}
/*茶区*/
.chaqu{
	background: #f5f3ef;
	padding:2%;
}
.cha_logo{
	width:100%;
}
.shantou span{
	color:#999999;
	margin:0px 5px 0px 5px;
}
.shantou-content{
	border-bottom:1px solid #edb201;
	padding-bottom:18px;
	display:none;
}
.close{
	display:none;
}
.close,.open{
	width:100%;
	text-align:center;
	margin:10px 0px 10px 0px;
	font-size:14px;
}
.close img, .open img{
	width:18px;
	vertical-align: middle;
	margin-top: -2px;
}
.bottom{
	text-align: center;
	margin:8px 0px 8px 0px;
}

/*详情*/
.body_detail{
	background:#f6f4f0;
	margin-top:-15px;
}
.decri{
	font-size:13px;
	text-indent:2em;
	line-height:20px;
	max-height: 300px;
	overflow: scroll;
	padding:5px;
	margin-top:10px;
}
/*导航*/
.daohang{
	margin-top:20px;
}
/*山头详情页相关文章*/
.about{
	width:100%;
	height:150px;
	overflow: scroll;
}
.about ul li{
	display:block;
	background-image:url("../img/icon_2.png");
	background-repeat: no-repeat;
	background-size:12px 12px;
	padding-left:18px;
	margin-bottom:10px;
	height:20px;
	overflow:hidden;
}

/*资讯首页*/
.infos{
	margin-top:8px;
	margin:0 auto;
	padding:5px;
	width:97%;
}
.infos-item{
	margin-bottom: 12px;
	padding-bottom: 24px;
	clear: both;
	border-bottom: 1px solid #E4E3E3;
}
.img-content{
	width:80px;
	height:80px;
	overflow:hidden;
	float:left;
	line-height:80px;
	border:1px solid #F5F2F2;
	margin-right:5px;
}
.img-content img{
	width:100%;
	vertical-align:middle;
}
.img-title{
	width:100%;
	height:30px;
	font-size:15px;
	font-weight:bold;
	margin-bottom:12px;
}
.img-descri{
	color:#666666;
	width:100%;
	height:30px;
	font-size:12px;
	
}
.img-date{
	color:#666666;
	height:18px;
	font-size:12px;
	padding-right:10px;
	float:right;
}
.article-content{
	font-size:13px;
	width:97%;
	max-width:640px;
	min-width:320px;
	margin:6px auto;
	padding:0 1.5%;
}
.article-content p{
	line-height:16px;
}
.article-content p span{display:inline-block;margin:15px 0;line-height:1.5;}
.type{background:rgba(0,0,0,0.8);position:absolute;margin-top:0px;left:0;z-index:999;width:100%;display:none;}
.type a{color:#dca501;}
.type h4{clear:both;margin:7px 8%;}
.type p{margin:14px 10%;height:10px;}
.type p a{width:24%;display:block;float:left;border-right:1px solid #dca501;font-size:0.8em;text-align:center;}
.type p a:last-child{border:none;}
.type div{border-top:1px solid #dca501;width:90%;margin:0 auto;text-align:center;padding:5px 0px;font-size:1.3em;}
.type div img{width:17px;vertical-align:top;margin-left:5px;}