@charset "utf-8";
/* CSS Document */
.flash{width:100;background:#f8f8f8;padding-bottom:55px;}
.flash_nav{width:92%;height:30px;border:1px solid #fabb01;margin:20px auto;line-height:30px;border-radius:3px;}
.flash_nav span{display:inline-block;width:50%;}
.flash_nav span:first-child{color:#fff;background:#fabb01;}
.flash_nav span:last-child{color:#fabb01;}
.ing{width:92%;margin:0 auto;}
.show{width:100%;background:#fff;margin-bottom:10px;}
.show div{100%;position:relative;margin:0 auto;}
.show div img{width:100%;}
.show div .span{position:absolute;right:0;bottom:4px;background:rgba(0,0,0,0.7);color:#fff;font-size:1.1em;width:55%}
.show p{text-align:left;line-height:50px;color:#898989;font-size:1.1em;padding-left:3%;}
.show p span{color:#fabb01;float:right;margin-right:3%;}


.nav a:first-child{color:#fabb01;}
@media screen and (max-width:340px){
	.show div span{}
	.show p{font-size:1em;line-height:40px;}
}

.colockbox{
width:160px;
height:30px;
background-size:100% 100%;

color:#000000;
overflow:auto;
margin:0 auto;
}
.colockbox span{
float:left;
display:block;
width:26px;
height:29px;
line-height:35px;
z-index:2;
font-size:10px;
font-weight:bold;
text-align:center;
color:#ffffff;
}