<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>商品详情</title><meta name="keywords" content="茶汇通,供求信息">
<meta name="description" content="茶汇通供求信息">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/shop.css" type="text/css" rel="stylesheet">
<script src="_JS_/jquery-1.4.4.min.js"></script>
<script>
$(document).ready(function() {
	
		var navi = navigator.userAgent;
	if(navi.indexOf("android")!=-1||navi.indexOf("ios")!=-1){
		$("header").hide();
		$("nav").hide();
	}
    
});
</script>
<script src="_JS_/TouchSlide.1.1.js"></script>
</head>
<body>
<header>
<a href="javascript:history.go(-1);"><img src="_IMG_/xiangzuo.jpg"></a>商品详情
<a href="__URL__/search"><img src="_IMG_/sousuo.jpg"></a>
</header>
<div id="focus" class="focus">
<div class="hd">
<ul></ul>
</div>
<div class="bd">
<ul>
<if condition="$detail['img'][0] neq ''">
<li><a href="#"><img _src="__ROOT__/Public/upload/{$detail.img.0}"/></a></li>
</if>
<if condition="$detail['img'][1] neq ''">
<li><a href="#"><img _src="__ROOT__/Public/upload/{$detail.img.1}"/></a></li>
</if>
<if condition="$detail['img'][2] neq ''">
<li><a href="#"><img _src="__ROOT__/Public/upload/{$detail.img.2}"/></a></li>
</if>

</ul>
</div>
</div>
<div class="mail">
<h4>{$detail.brand}-{$detail.name}</h4>
<ul>
<li><label><span></span>品牌</label>{$detail.brand}<span class="fabu">发布价:{$detail.price}</span></li>
<li><label><span></span>品名</label>{$detail.name}<span class="xiangtan"><if condition="$v.arrow_order eq 1">
价格详谈
</if></span></li>
<li><label><span></span>年份</label>{$detail.year}</li>
<li><label><span></span>数量</label>{$detail.weight}<if condition="$detail.unit eq 1">克</if>
<if condition="$detail.unit eq 2">两</if>
<if condition="$detail.unit eq 3">饼</if>
<if condition="$detail.unit eq 4">盒</if>
<if condition="$detail.unit eq 5">件</if>
<if condition="$detail.unit eq 6">片</if>
<if condition="$detail.unit eq 7">套</if>
<if condition="$detail.unit eq 12">袋</if>
<if condition="$detail.unit eq 9">砖</if>
<if condition="$detail.unit eq 8">提</if>
<if condition="$detail.unit eq 10">斤</if>
<if condition="$detail.unit eq 11">公斤</if></li>
<li><label><span></span>所在地</label>{$detail.address}</li>
<li><label><span></span>联系电话</label>{$detail.phone}</li>
</ul>
<div class="miaoshu">
<p>产品描述</p>
<p>{$detail.content}</p>
</div>
<p>发布时间<span>{$detail.addtime}</span></p>
<a href="__URL__/contact/id/{$detail.id}"><input type="button" value="联系卖家"></a>
</div>
<nav>
<a href="__URL__/index"><img src="_IMG_/shouye.jpg"><br>首页</a>
<a href="__URL__/post"><img src="_IMG_/fabu.jpg"><br>发布</a>
<a href="__URL__/news"><img src="_IMG_/xiaoxi.jpg"><br>信息</a>
<a href="__URL__/myList"><img src="_IMG_/user.jpg"><br>我的</a>
</nav>
</body>
<script type="text/javascript" src="_JS_/slide.js"></script>
</html>
