@charset "UTF-8";
/* CSS Document */
body {
	font:nomal 100% Helvetica,Arial,sans-serif;
    margin:0 auto;
	min-width:850px;
}

h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p {
	font-size:15px;
}

.top-hr {
	height:1px;
	border:none;
	border-top:1px solid #555555;
	margin-bottom:50px;
}
.header-nav {
	height:60px;
	background-color:#fff;
	padding-top:30px;
	padding-bottom:50px;
}
.header-nav p {
	color:#000000;
	font-size:15px;
}
.header-nav a {
	color:#000000;
}
.nav-center {
	margin-top:-20px;
}

.header-nav p{
	text-align:center;
}
.nav-center h4 {
	text-align:center;
	letter-spacing:1px;
	margin-bottom:-20px;
}

.red {
	color:#bb000d;
}

img {
	width:100%;
	height:auto;
}
.top-img img{
	margin-top:30px;
}

.partOne {
	margin-top:50px;
	margin-left:14.2%;
	margin-right:14.2%;
	margin-bottom:80px;
}
.partOne-left {
	float:left;
	width:68.1%;
	
}
.partOne-left p {
	line-height:2em;
	margin-top:50px;
	margin-bottom:50px;
}
.partOne-right {
	float:left;
	width:31.8%;	
}

.partTwo {
	margin-left:14.2%;
	margin-right:14.2%;
}
.partTwo-left {
	float:left;
	width:32%;	
}
.partTwo-left img {
	margin-bottom:3%;
}

.partTwo-right {
	float:left;
	margin-left:1%;
	width:65%;
	
}
.partTwo-bottom img {
	float:left;
	width:32%;
	margin-right:1%;
}

.partThree {
	margin-left:14.2%;
	margin-right:14.2%;
	margin-top:30px;
}
.partThree h5 {
	font-size:18px;
	letter-spacing:2px;
	color:#bb000d;
}
.partThree span {
	color:#000000;
	margin-right:15%;
	letter-spacing:1.5px;
	font-size:16px;
}
.partThree p {
	margin-bottom:20px;
	letter-spacing:0.1em;
}
.partThree hr {
	margin-top:30px;
	margin-bottom:30px;
	border-bottom:#000000 solid 2px;
}


.partFour {
	margin-left:14.2%;
	margin-right:14.2%;
}
.partFour-left {
	float:left;
	width:65%;	
}
.partFour-right img {
	margin-bottom:3%;
}

.partFour-right {
	float:left;
	margin-left:1%;
	width:32%;
}
.partFour-bottom {
	margin-bottom:50px;
}
.partFour-bottom-left {
	float:left;
	width:50%;
	margin-top:10%;
	margin-bottom:30px;
}
.partFour-bottom-right {
	float:left;
	width:50%;
	margin-bottom:20px;
}
.partFour-hd {
	float:left;
	width:30%;
	margin-left:15%
}
.partFour-hd h6 {
	text-align:center;
	color:#6c6c6c;
}



.partFive {
	margin-left:14.2%;
	margin-right:14.2%;
}
.partFive-left {
	width:27.7%;
	float:left;
	margin-top:60px;
}
.partFive-right {
	float:left;
	margin-left:29.7%;
	
}
.partFive-right span {
	color:#000000;
	font-size:16px;
	letter-spacing:0.08em;
	margin-right:10%;
}
.partFive-right p {
	border-bottom:#6c6c6c solid 1px;
	font-size:15px;
	letter-spacing:0.08em; 
}

.middle-img {
    margin:80px 9% 80px 9%; 
}

.footer {
	padding-top:80px;
	padding-bottom:80px;
}
.footer img {
	max-width:100%;
	height:auto;
	margin-top:20px;
	padding:0px 20% 50px;
}