@charset "UTF-8";
/* CSS Document */
body {
	font:nomal 100% Helvetica,Arial,sans-serif;
    margin:0 auto;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p {
	font-size:15px;
	color:#6c6c6c;
}

.top-hr {
	height:1px;
	border:none;
	border-top:1px solid #555555;
	margin-bottom:50px;
}
.header-nav {
	height:60px;
	background-color:#fff;
	padding-top:30px;
	padding-bottom:50px;
}
.header-nav p {
	color:#000000;
	font-size:15px;
}
.header-nav a {
	color:#000000;
}
.nav-center {
	margin-top:-20px;
}

.header-nav p{
	text-align:center;
}
.nav-center h5 {
	text-align:center;
	letter-spacing:1px;
	margin-bottom:-20px;
}


.red {
	color:#bb000d;
}

img {
	width:100%;
	height:auto;
}
.top-img img{
	margin-top:30px;
}

.partOne {
	margin-top:50px;
}
.partOne-left {
	float:left;
	margin-left:14.2%;
	width:47%;
	
}
.partOne-left p {
	line-height:1.8em;
	margin-top:30px;
	margin-bottom:30px;
}
.partOne-right {
	float:left;
	margin-right:14.2%;
	
}

.partTwo {
	margin-left:14.2%;
	margin-right:14.2%;
}
.partTwo-left {
	float:left;
	width:32%;	
}
.partTwo-left img {
	margin-bottom:3%;
}

.partTwo-right {
	float:left;
	margin-left:1%;
	width:65%;
	
}
.partTwo-bottom img {
	float:left;
	width:32%;
	margin-right:1%;
}

.partThree {
	margin-left:14.2%;
	margin-right:14.2%;
	margin-top:30px;
}
.partThree h5 {
	letter-spacing:2px;
	color:#bb000d;
}
.partThree-left {
	float:left;
	width:50%;
	margin-top:10%;
	margin-bottom:50px;
}

.partThree-right {
	float:left;
	width:50%;
	margin-bottom:20px;
}
.partThree-hd {
	float:left;
	width:30%;
	margin-left:50%
}
.partThree-hd h6 {
	margin-top:-30px;
	font-size:14px;
}
.partThree-right h6 {
	text-align:center;
}

.partThree-right p {
	
}

.partThree span {
	color:#000000;
	margin-right:15%;
}
.partThree h6 {
	letter-spacing:0.1em;
	color:#6c6c6c;
	font-weight:200;
}
.partThree  p {
	padding-bottom:8px;
	border-bottom:#6c6c6c solid 1px;	
	letter-spacing:0.1em;
}

.partThree-left p {
	border-bottom:none
}
.partThree img {
	margin-bottom:40px;
}
.partThree ul {
	padding-bottom:8px;
	border-bottom:#6c6c6c solid 1px;
}
	
.partThree li {
	width:48%;
	color:#6c6c6c;
	letter-spacing:0.1em;
	font-size:15px;	
}

.partFour {
	margin-left:14.2%;
	margin-right:12.9%;
}
.partFour-left {
	float:left;
	width:65%;	
}
.partFour-right img {
	margin-bottom:3%;
}

.partFour-right {
	float:left;
	margin-left:1%;
	width:32%;
}
.partFour-bottom img {
	float:left;
	width:32%;
	margin-right:1%;
}
.middle-image {
	margin-top:80px;
}
.footer {
	padding-top:80px;
	padding-bottom:80px;
}

.footer img {
	max-width:100%;
	height:auto;
	margin-top:20px;
	padding:0px 20% 50px;
}