@charset "UTF-8";
/* CSS Document */
body {
	font:bold 12px/1.5em "Microsoft YaHei";
}
.img-logo{
	max-width:100%;
	height:auto;
	margin-bottom:80px;
}
.content-intro h2{
	font:75px;
	letter-spacing:8px;
	margin-bottom:30px;
}
.content-intro p {
	font:35px;
	letter-spacing:6px;
	color:#6c6c6c;
}
.content-intro span{
	color:#bb000d;
}
.content-intro p {
	margin-bottom:50px;
}
.content-intro{
	margin-bottom:80px;
}
.img-intro{
	max-width:100%;
	height:auto;
	margin-bottom:80px;
}
.content-product{
	margin-top:80px;
}
.content-product img{
	max-width:100%;
	height:auto;
	padding-right:50px;
	
}
.content-packaging{
	margin-top:80px;
}
.content-packaging img{
	max-width:100%;
	height:auto;
	margin-top:80px;
	margin-bottom:80px;
}
.img-footer{
	margin-top:50px;
	padding-left:25%;
}
.content-effect h2{
	text-align:center;
}
.content-effect h6{
	text-align:center;
}
.content-effect p{
	padding:10px 5px;
	letter-spacing:5px;
	font-size:18px;
}