<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>详情页</title>
<script src="_JS_/jquery-1.4.4.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="_CSS_/b2b.css" />
<style type="text/css">
</style>
</head>
<body>
<!-- 头部 -->
<include file="public/head"/>
<div style="text-align:center;width:100%;margin-top:20px;">
<img style="width:80%;border:1px solid gray;border-radius:10px" src="http://www.chahuitong.com/images/201504/source_img/235_G_1428016292346.jpg"/>
</div>
<div class="dDetail">
<div class="dDetail1">
<ul>
<li>品名： 高顶古茶 高山藏韵</li>
<li>年份：2015</li>
<li>数量：2饼</li>
<li>所在地：云南勐海</li>
<li>时间：2015-05-15 10:29</li>
</ul>
</div>
<div class="dPrice">
<h3>发布价</h3>
<i style="color:#a15641">价格详谈</i>
</div>
</div>
<div class="dDetail2">
勐海高顶茶业有限公司依托稀有的普洱古树茶特色资源优势，坚持树人固本，品牌兴业，诚信立身的理念，遵循公平公正、合作共赢的发展原则，以古树茶叶产品为核心，不断提升创新营销及管理能力，通过创造与发掘古树茶产业整体价值链，以“市场需求为导向，渠道建设为依托，营销服务为支撑”，打造服务型营销企业。
</div>
<div class="dDetail3">
<a href="http://webim.qiao.baidu.com//im/gateway?ucid=10199550&siteid=6564986&bid=5f73f1569de487f55b54f71b"><span style="margin-right:20px;">联系客服</span></a>
<a href="tel:18075772882"><span>联系卖家</span></a>
</div>
<include file="public/foot"/>
</body>
</HTML>
