header{background:#eee;line-height:30px;text-align:center;padding:8px 5%;}
header a:first-child{float:left;}
header a:nth-child(2){float:right;}
header a:first-child img{width:10px;vertical-align:middle;transform:rotate(180deg);-webkit-transform:rotate(180deg);}
header a:nth-child(2) img{width:32px;vertical-align:middle;position:absolute;right:5px;}
.title,.canshu,.select,.mail,.brand{background:#fff;margin:10px 0;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;padding:10px 8px;}
.title h3{line-height:25px;}
.title h2{line-height:50px;color:#fe694b;font-weight:500;}
.title h2 span{margin-left:16px;font-size:0.8em;color:#999; text-decoration:line-through;}
.title p{color:#c2c2c2;margin-bottom:8px;}
.title p.t_p span:first-child{padding:0 6px;}
.title p.t_p span:nth-child(2){color:#000;margin-left:5px;}
.title p.t_p span:last-child{float:right;}
.title h5{display:flex;text-align:center;padding-top:8px;color:#777;font-size:13px;border-top:1px solid #c9c9c9;}
.title h5 span{flex:1;border-right:1px solid #c9c9c9;}
.title h5 span img{width:16px;margin-right:6px;vertical-align:middle;}
.title h5 span:last-child{border:none;}
.canshu h3 span{background:#1b8b80;padding:0 2px;margin-right:8px;}
.canshu h3 a{float:right;}
.canshu h3 a img{width:12px;transform:rotate(90deg);-webkit-transform:rotate(90deg);transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;}
.canshu ul{font-size:0.8em;margin-top:10px;height:40px;overflow:hidden;color:#999;}
.canshu ul li{float:left;width:33%;height:20px;line-height:20px;overflow:hidden;}
.canshu ul li span{color:#000;}
.select a{color:#000;width:100%;height:22px;display:block;}
.select a img{float:right;}
.mail>ul{display:flex;text-align:center;margin-bottom:15px;}
.mail>ul li{flex:1;}
.mail>ul li span{padding:8px;}
.mail>ul li.on span{border-bottom:3px solid #1b8b80;}
.mail>ul li:first-child{border-right:1px solid #c9c9c9;}
.details{width:100%;}
.details img{width:100%;display:block;padding:0;border:none;}
.pingjia{display:none;}
.pingjia ul li{border-top:1px solid #c9c9c9;padding:10px 0;}
.pingjia ul li h3 img{width:36px;height:36px;vertical-align:middle;margin-right:5px;}
.pingjia ul li h3 time{float:right;font-size:0.8em;color:#999;}
.pingjia ul li p.con{margin:16px 0;font-size:0.9em;}
.pingjia ul li p.pj_img img{width:5rem;height:3.6rem;margin-right:3px;}
#show_img{background:rgba(0,0,0,0.6);width:100%;position:fixed;top:0;left:0;z-index:10;display:none;}
#show_img img{display:block;width:91.7%;margin:30px auto 0;}
.brand>h3 img{width:12px;float:right;transform:rotate(90deg);-webkit-transform:rotate(90deg);transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;}
.brand div.on{clear:both;margin-bottom:70px;}
div.brand_img{width:15%;margin-top:10px;float:left;}
div.brand_img img{width:100%;}
div.brand_con{width:82%;float:right;}
div.brand_con h4{line-height:36px;}
div.brand_con p{font-size:0.8em;color:#666;}
div.brand_con p.brand_jj{line-height:25px;}
.chayang{display:none;}
.chayang ul li{background:#fff;margin:6px 2%;padding:1%;}
.chayang ul li>img{width:6.6rem;height:6.6rem;}
.chayang ul li div.chayang_con{float:right;width:64%;height:6.6rem;position:relative;}
.chayang ul li div.chayang_con h4{padding-bottom:5px;width:100%;height:24px;line-height:16px;overflow:hidden;font-size:13px;}
.chayang ul li div.chayang_con p{color:#fe694b;line-height:25px;}
.chayang ul li div.chayang_con p span{color:#c2c2c2;font-size:0.8em;float:right;}
.chayang ul li div.chayang_con p span img{width:9px;margin-right:6px;}
div.chayang_con div{position:absolute;right:0;bottom:0;width:80%;}
div.chayang_con div a{display:block;color:#666;text-align:center;line-height:30px;width:40%;border-radius:5px;}
div.chayang_con div a:first-child{border:1px solid #c9c9c9;float:left;}
div.chayang_con div a:last-child{background:#1b8b80;color:#fff;float:right;}
#share{width:100%;max-width:640px;position:fixed;bottom:0;z-index:19;display:none;}
#share:after{content:'';background:rgba(0,0,0,0.6);width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;}
.bdsharebuttonbox{background:#fff;padding-top:8px;z-index:20;}
#share a{display:inline-block;width:15%;color:#666;margin-left:2%;}
#share button{background:#1b8b80;color:#fff;border:none;width:50%;line-height:30px;font-size:1.1em;margin:8px 25%;border-radius:5px;}
#xuanze{background:#fff;position:fixed;bottom:60px;z-index:50;width:100%;max-width:640px;display:none;}
#xuanze:after{content:'';background:rgba(0,0,0,0.6);width:100%;height:80%;position:fixed;top:0;left:0;z-index:-11;}
#xuanze div{background:#fff;padding:16px 3%;}
#xuanze h4 img{float:right;width:20px;}
#xuanze h4>span{font-size:0.8em;color:#999;}
#xuanze h4 mark{float:right;background:none;}
#xuanze h4 mark span{background:#f5f5f5;padding:8px;margin-left:5px;}
#jia{margin-right:12px;}
#jian,#jia{color:#999;}
#leixing{margin:15px 0px 25px;font-size:0.8em;}
#leixing span{background:#e8e8e8;padding:2px 8px;border-radius:10px;margin-right:8px;}
#leixing span.on{background:#1b8b80;color:#fff;}
.xinxi{background:#fff;padding:12px 5%;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;border-top:1px solid #c9c9c9;}
.xinxi p{line-height:24px;}
.xinxi p span{float:right;}
.buypay{background:#fff;margin:12px 0;border-top:1px solid #c9c9c9;}
.buypay ul li{border-bottom:1px solid #c9c9c9;line-height:48px;padding:0 5%;}
.buypay ul li img{width:36px;vertical-align:middle;}
.buypay ul li .checkbox{float:right;margin-top:12px;}