<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>活动详情</title><meta name="keywords" content="茶汇通,普洱,普洱茶,茶">
<meta name="description" content="茶汇通">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/details.css" type="text/css" rel="stylesheet">
<link href="_CSS_/share.css" type="text/css" rel="stylesheet">
<link href="_CSS_/shequ.css" type="text/css" rel="stylesheet">
<script src="_JS_/TouchSlide.js"></script>
<script src="_JS_/huodong.js"></script>
</head>
<body>
<header>
<a href="#"><img src="_IMG_/fanhui.png"></a>布朗山淘茶之旅
<a href="#"><img src="_IMG_/home.png"></a>
</header>
<div id="focus" class="focus">
<div class="hd">
<ul></ul>
</div>
<div class="bd">
<ul>
<li><a href="#"><img _src="_IMG_/jv01.png"  /></a></li>
<li><a href="#"><img _src="_IMG_/jv02.png" /></a></li>
<li><a href="#"><img _src="_IMG_/jv03.png" /></a></li>
</ul>
</div>
</div>
<div class="mail">
<div class="title">
<h5>布朗山淘茶之旅</h5>
<p>西双版纳 布朗山 艾冷山 勐海</p>
</div>
<div class="xiao">￥6000</div>
<h5 id="huodong" class="open">活动详情<div></div></h5>
<div class="xiang" id="xiang">
<ul>
<li><label><mark></mark>行程天数：</label>5天</li>
<li><label><mark></mark>行程时间：</label>2015-09-01~2015-09-05</li>
<li><label><mark></mark>淘茶宣言：</label><span>布朗山的优质自然与生态条件，汲取其精华，为茶友提供品味醇正的普洱茶。</span></li>
</ul>
<p>布朗山位于西双版纳勐海县境内，靠近中缅边境，是著名的普洱茶产区，也是古茶园保留得最多的地区之一，布朗山方圆1000多平方公里。布朗山乡包括班章、老慢哦、曼新龙等村寨，其中，最古老的老慢哦寨子已有1400年历史。布朗族是百濮的后裔，他们世世代代生活在布朗山，是世界上最早栽培、制作和饮用茶叶的民族。</p>
<b>活动提醒</b><br>
1、交通：飞机（成都——西双版纳） 汽车（西双版纳——各景点）<br>
2、用餐：当地特色风味餐<br>
3、房间：双人标准间；大床单间<br>
4、门票：景区大门票<br>
5‘导游：淘茶团团长<br>
6、保险：旅行社责任险、赠送旅游人身意外险<br>
<b>自费项目：</b><br>
个人消费。<br>
活动费6000元/人（或在淘茶玩家平台累积消费6万，可免3000元）<br><br>
<b>温馨提示：</b><br>
1、在不减少景点的情况下，组织者有权根据具体情况调整行程（包括景点顺序、住宿地点）；<br>
2、如遇不可抗拒因素，造成延误游程和返程、增加额外费用，按国际惯例旅行社不予负责，其超支费用由客人自理；<br>
3、请提示客人自带防滑鞋、雨具等措施避免滑倒，如有泡温泉，请客人自带泳衣 。节假日人数过多不能准时、准点进行各项活动请谅解。
</div>
</div>
<nav>
￥6000<a href="#">立即购买<img src="_IMG_/shop.png"></a>
</nav>
</body>
</html>