<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>普洱茶————茶汇通</title>
<meta name="keywords" content="茶汇通,普洱,普洱茶">
<meta name="description" content="茶汇通普洱饼茶">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/class.css" type="text/css" rel="stylesheet">
<link href="_CSS_/mall.css" type="text/css" rel="stylesheet">
<style>
body{background:#fff;}
.mallhead{width:100%;}
.mallhead img{width:100%;}
.mallnav{width:100%;margin-top:10px;}
.mallnav a{display:block;width:33%;float:left;margin:15px 0;}
.mallnav a img{width:70%;}
#gonggao{background:rgba(0,0,0,0.5);position:fixed;bottom:0;left:0;width:100%;height:100%;z-index:2;}
#gonggao img{position:fixed;}
</style>
</head>
<body>
<header id="header">
<a href="javaScript:window.history.back();"><img src="_IMG_/fanhui.png"></a>商城<a href="__URL__/home"><img src="_IMG_/home.png"></a>
</header>
<div class="mallhead"><img src="_IMG_/mallhead.png"></div>
<div class="mallnav">
<a href="__URL__/brand/catId/1"><img src="_IMG_/puer.png"></a>
<a href="__URL__/brand/catId/2"><img src="_IMG_/wulong.png"></a>
<a href="__URL__/brand/catId/3"><img src="_IMG_/hongcha.png"></a>
<a href="__URL__/brand/catId/256"><img src="_IMG_/lucha.png"></a>
<a href="__URL__/brand/catId/308"><img src="_IMG_/heicha.png"></a>
<a href="__URL__/brand/catId/470"><img src="_IMG_/huangcha.png"></a>
<a href="__URL__/brand/catId/530"><img src="_IMG_/baicha.png"></a>
<a href="__URL__/brand/catId/662"><img src="_IMG_/chaju.png"></a>
<a href="__URL__/brand/catId/593"><img src="_IMG_/qita.png"></a>
</div>
</div>
<div id="gonggao">
<img src="_IMG_/gonggao.png">
</div>
<script>
window.onload = function(){
	var gonggao=document.getElementById('gonggao');
	var IMG=gonggao.getElementsByTagName('img')[0];
	var W=window.innerWidth,H=screen.availHeight;
	gonggao.style.width=W + 'px';
	gonggao.style.height=H + 'px';
	IMG.style.width=W*0.9 + 'px';
	IMG.style.left=(W - IMG.width)/2 + 'px';
	IMG.style.top='40' + 'px';
	gonggao.onclick=function(){
		gonggao.style.overflow='hidden';
		abc(H);
		function abc(){
			if(H<0){
				gonggao.style.display='none';
				clearTimeout(loop);
			}
			gonggao.style.height=H+ 'px';;
			H = H - 5;
			var loop = setTimeout(abc,6);
		}
	};
}
</script>
</body>
</html>