<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>普洱茶————茶汇通</title>
<meta name="keywords" content="茶汇通,普洱,普洱茶">
<meta name="description" content="茶汇通普洱饼茶">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/index.css" type="text/css" rel="stylesheet">
<link href="_CSS_/class.css" type="text/css" rel="stylesheet">
<link href="_CSS_/mall.css" type="text/css" rel="stylesheet">

<style>
body{background:#fff;}
.mallhead{width:100%;}
.mallhead img{width:100%;}
.mallnav{width:100%;margin-top:10px;}
.mallnav a{display:block;width:33%;float:left;margin:15px 0;}
.mallnav a img{width:70%;}
</style>
</head>
<body>
<header id="header">
<a href="javaScript:window.history.back();"><img src="_IMG_/fanhui.png"></a>商城<a href="__URL__/home"><img src="_IMG_/home.png"></a>
</header>
<div id="focus" class="focus">
<div class="hd">
<ul></ul>
</div>
<div class="mallhead">
<ul>
<li><a href="http://www.chahuitong.com/wap/index.php/Home/Index/brandGoods/bid/447"><img src="_IMG_/mallhead.png"></a></li>
<li><a href="http://www.chahuitong.com/wap/index.php/Home/Index/brandGoods/bid/447"><img src="_IMG_/huodong01.jpg"></a></li>
<li><a href="http://www.chahuitong.com/wap/index.php/Home/Index/brand/catId/2"><img src="_IMG_/huodong02.jpg"></a></li>
<li><a href="http://www.chahuitong.com/wap/index.php/Home/Index/brandGoods/bid/477"><img src="_IMG_/huodong03.jpg"></a></li>
</ul>
</div></div>
<div class="mallnav">
<a href="__URL__/brand/catId/1"><img src="_IMG_/puer.png"></a>
<a href="__URL__/brand/catId/2"><img src="_IMG_/wulong.png"></a>
<a href="__URL__/brand/catId/3"><img src="_IMG_/hongcha.png"></a>
<a href="__URL__/brand/catId/256"><img src="_IMG_/lucha.png"></a>
<a href="__URL__/brand/catId/308"><img src="_IMG_/heicha.png"></a>
<a href="__URL__/brand/catId/470"><img src="_IMG_/huacha.png"></a>
<a href="__URL__/brand/catId/530"><img src="_IMG_/baicha.png"></a>
<a href="__URL__/brand/catId/662"><img src="_IMG_/chaju.png"></a>
<a href="__URL__/brand/catId/593"><img src="_IMG_/qita.png"></a>
</div>
</div>
<script src="_JS_/TouchSlide.js"></script>
<script>
window.onload=function(){
TouchSlide({ 
	slideCell:"#focus",
	titCell:".hd ul",
	mainCell:".mallhead ul", 
	effect:"left", 
	autoPlay:true,
	autoPage:true,
	switchLoad:"_src"
});
}
</script>
</body>
</html>