<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>产品详情</title><meta name="keywords" content="茶汇通,普洱,普洱茶,茶">
<meta name="description" content="茶汇通">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/class.css" type="text/css" rel="stylesheet">
<link href="_CSS_/details.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="share" style="background:#333;opacity:0.5;position:fixed;top:0px;right:0px;width:100%;height:40px;z-index:900;display:none "></div>
<div class="share" id="share" style="background:#333;opacity:0.5;position:fixed;top:0px;left:0px;width:15%;height:40px;z-index:999;display:none;color:#F00;text-align:center;line-height:40px;font-weight:bold">X</div>
<div class="share" style="position:fixed;top:0px;right:0px;width:55%;height:40px;z-index:999;display:none"><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
<div id="product_detail_wp"></div>

<header id="header">
<a href="javaScript:window.history.back();"><img src="_IMG_/fanhui.png"></a><h5 style="width:70%;height:30px;text-align:center;overflow:hidden;display:inline-block"><%=goods_info.goods_name%></h5>
<a href="http://www.chahuitong.com/wap"><img src="_IMG_/home.png"></a>
</header>
<div class="mail">
<div id="focus" class="focus">
<div class="hd">
<ul></ul>
</div>
<div class="bd">
<ul >
 <% for(var i =0;i<goods_image.length;i++){　%>
						      <li><img src="<%=goods_image[i]%>"/></li>
						   <%}%>
</ul>
</div>
</div>			
<h5><%=goods_info.goods_name%></h5>
<input type="hidden" class="buy-num fleft" id="buynum" value="1"/>
<div class="xiaol">
<p><mark><% if(goods_info.promotion_price){ %>促销价：￥<%=goods_info.promotion_price%><% }else{ %>￥<%=goods_info.goods_price%><%}%></mark><% if(goods_info.goods_marketprice*1>goods_info.goods_price*1){ %><span class="yuanjia">原价:￥<%=goods_info.goods_marketprice%></span><% }else{ %><span class="yuanjia" style="display:none">原价:￥<%=goods_info.goods_marketprice%></span><%}%></p>
<p><span class="span">销量<b><%=goods_info.goods_salenum%></b></span><span class="span">收藏量<b><%=goods_info.goods_collect%></b></span><span>总评价<b><%=goods_info.evaluation_count%></b></span>|<span>库存<b><%=goods_info.goods_storage%></b></span></p>
</div>
<div class="details">
<ul>
<li>
<h4 class="close">产品参数<div></div></h4>
<ul id="a1" class="chanshu">
<li><span>&nbsp;</span>品牌：{$brand_name}</li>
<li><span>&nbsp;</span>类型：{$info.gc_name}</li>
<volist id="v" name="info['goods_attr']">
<li><span>&nbsp;</span>{$v.0}：{$v.1}</li>
</volist>
</ul>
</li>
<li>
<h4 class="close">产品详情<div></div></h4>
<ul id="a1" class="xq">
{$info.goods_body}
</ul>
</li>
<!--<li>
<h4 class="close">用户口碑<div></div></h4>
<ul id="a1" class="pingjia">
<volist name="evals" id="v">
<li>
<div class="wenzi">
<div class="yuan"></div>
<time>{$v.geval_addtime}</time>
<hgroup>{$v.geval_content}</hgroup>
</div>
<div class="head">
<img src="/data/upload/shop/avatar/{$v.img}"><br>
{$v.geval_frommembername}
</div>
</li>
</volist>
</ul>
</li>-->
<li>
<h4 class="close">热点问题<div></div></h4>
<ul id="a1" class="redian">
<li><h3>如何联系我们？</h3>
<p>客服电话：0592-5990900</p>
<p>客服QQ：3319703576</p></li>
<li><h3>免费电话使用方法？</h3>
<p>进入茶汇通APP个人中心，点击【免费话费】，设定您的手机号码进行绑定，绑定成功即可拨打（首次绑定即送10元话费）；</p></li>
<li><h3>支付方式有哪些？如何支付？</h3>
<p>茶汇通目前支持在线支付，进入个人中心，我的订单，选取支付方式，按提示进行操作。</p></li>
<li><h3>商品如何包装？</h3>
<p>茶汇通商城商品除商家外包装外，统一采用商城快递箱进行配送，如果您发现商品包装出现破损，请先进行拆包验收，如果验收商品出现破损，请直接拒收，并联系客服为您妥善处理。</p></li>
<li><h3>是否包邮？多久可以发货？</h3>
<p>茶汇通商城购买商品，运费由卖家承担。订单提交成功后我们会尽快发货，详细进度您可以进入“我的订单”，通过追踪功能实时查看订单进度。</p></li>
<li><h3>可以指定快递吗？</h3>
<p>茶汇通暂不支持指定快递，具体发货快递根据商家自身选择而定，如有特殊要求，可联系客服协商发货快递。</p></li>
<li><h3>可以开发票吗？</h3>
<p>茶汇通所售商品都是正品，一般情况下均可开具正规发票，不同商家开票略有不同，具体开票要求可与客服联系。</p></li>
<li><h3>商品出现损坏、瑕疵问题？</h3>
<p>解决方法：联系客服协商，退货重新购买。</p></li>
<li><h3>订单如何取消？</h3>
<p>未支付的订单，可以直接点击取消订单按钮，取消。在线支付的订单，不能取消，只能联系客服申请退款或换货。</p></li>
<li><h3>以上问题都不能解决您的疑问，怎么办？</h3>
<p>1、到个人中心意见反馈模块，进行留言，反馈问题，我们的工作人员将在第一时间给您答复并妥善处理。</p>
<p>2、可直接拨打我们的客服热线或者在客服QQ上进行咨询。</p></li>
</ul>
</li>
<!--<li>
<h4 class="open">其他相关<div></div></h4>
<div id="a1" class="qita" style="display:block;">

<%for (var i = 0;i<goods_commend_list.length;i++){%>
                               <div class="show">
                               <div class="title">
								<a href="goods?goods_id=<%=goods_commend_list[i].goods_id%>">
									<img src="<%=goods_commend_list[i].goods_image_url%>">
									
										<p><%=goods_commend_list[i].goods_name%></p>
									</div>
									<div class="jiage">
<mark>￥<%=goods_commend_list[i].goods_price%></mark>
                                <span>详情</span></a>
                                 </div>
                                 </div>
							<%}%>

</div></li>--></ul></div></div>
<div id="dialog" style="display:none;position:fixed;top:45%;left:0;width:100%;z-index:999;color:white;text-align:center;padding:10px 5px;background:red;"><div style="">aaaaaaaa</div></div>
<nav>
<a href="#" class="pd-collect"><img src="_IMG_/collection.png">收藏</a>
<a href="#" class="add-to-cart"><img src="_IMG_/cart.png">加入购物车</a>
<a href="#" class="buy-now">立即购买<img src="_IMG_/shop.png"></a>
</nav>

<style>
#fanhuitop{position:fixed;right:20px;bottom:100px;display:none;}
#fanhuitop img{width:36px;}
</style>
<div id="fanhuitop"><img src="_IMG_/fanhuitop.png"></div>

	<script type="text/javascript" src="_JS_/config.js"></script>
	<script type="text/javascript" src="_JS_/template.js"></script>
     <script type="text/javascript" src="_JS_/jquery.min.js"></script>
      <script type="text/javascript" src="_JS_/jquery-ui.js"></script>
    <script src="_JS_/TouchSlide.1.1.js"></script>
	<script type="text/javascript" src="_JS_/common.js"></script>
	<script type="text/javascript" src="_JS_/tmpl/common-top.js"></script>	
	<script type="text/javascript" src="_JS_/tmpl/product_detail.js"></script>
	<script>
	
	window.onload=function(){
	$(".xq p").each(function(){
	var text=$(this).html();
	var texts=text.replace(/【/g,"<br>【");
	$(this).html(texts);
	});
	setTimeout($('.xq img').removeAttr("height"),1000);
	var fanhuitop=document.getElementById("fanhuitop");
	window.onscroll=function(){
		var scrollTop=document.body.scrollTop||document.documentElement.scrollTop;
		if(scrollTop<200){
			fanhuitop.style.display="none";
		}else{
			fanhuitop.style.display="block";
		}
	}
	fanhuitop.onclick=function(){
		document.body.scrollTop=0;
	}
	
    };
	</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9a15ea23e7316c631085bb3ef722599a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
