<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>闪购</title>
<meta name="keywords" content="茶汇通,闪购">
<meta name="description" content="茶汇通闪购">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<link href="_CSS_/user.css" type="text/css" rel="stylesheet">
<link href="_CSS_/class.css" type="text/css" rel="stylesheet">
<link href="_CSS_/xianshi.css" type="text/css" rel="stylesheet">

<script src="_JS_/jquery.min.js"></script>

<script type="text/javascript">
   $(document).ready(function(e) {
	   $.post(
	     "__URL__/xianshiAjax",
		 {showway:1},
		 function(data){
			 var json=data;
			 for(var i=0;i<=json.length;i++){				 
				  $(".ing").append("<div class='show'><div><a href='__URL__/xianshibystore?id="+json[i].xianshi_id+"'><img src='_IMG_/"+json[i].xianshi_id+"x.jpg'><div class='span'><div class='colockbox' id='colockbox"+i+"'><span style='text-align:left;padding-left:5px;width:50px;background:url(http://www.chahuitong.com/wap/Public/Home/img/time.png) right center no-repeat'>剩余:</span><span class='day'>00</span><span class='hour'>00</span> <span class='minute'>00</span><span class='second'>00</span></div></div></div><p>"+json[i].store_name+"-"+json[i].xianshi_name+"<span>"+Math.round(json[i].zhe)+"折起</span></p></a></div>");
								  countDown(json[i].end_time,"#colockbox"+i);  				 				 
				 }	
					 
			 },
         "json"   
	   )
	   
	   $("#nav2").click(function(){
		   
		  $("#nav1").css({"background":"#f8f8f8","color":"#fabb01"}); 
		  $("#nav2").css({"background":"#fabb01","color":"#f8f8f8"}); 
		  
		   		   $.post(
	     "__URL__/xianshiAjax",
		 {showway:2},
		 function(data){
			 var json=data;
			 if(json!=null){
		     $(".ing").html("");
			 for(var i=0;i<=json.length;i++){				 
				$(".ing").append("<div class='show'><div><a href='__URL__/xianshibystore?id="+json[i].xianshi_id+"'><img src='_IMG_/"+json[i].xianshi_id+"x.jpg'><div class='span'><div class='colockbox' id='colockbox"+i+"'><span style='text-align:left;padding-left:5px;width:50px;background:url(http://www.chahuitong.com/wap/Public/Home/img/time.png) right center no-repeat'>剩余:</span><span class='day'>00</span><span class='hour'>00</span> <span class='minute'>00</span><span class='second'>00</span></div></div></div><p>"+json[i].store_name+"-"+json[i].xianshi_name+"<span>"+Math.round(json[i].zhe)+"折起</span></p></a></div>");
								  countDown(json[i].end_time,"#colockbox"+i);  	
				 }
			if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		       $("header").hide();	
	           }	 
			 }else{				 
				 $(".ing").html("暂无信息");	
				 if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		       $("header").hide();	
	           }			 
				 }			 
			 },
         "json"   
	   )	   
		   });
		   
		 $("#nav1").click(function(){
		  $("#nav2").css({"background":"#f8f8f8","color":"#fabb01"}); 
		  $("#nav1").css({"background":"#fabb01","color":"#f8f8f8"}); 
		   		   $.post(
	     "__URL__/xianshiAjax",
		 {showway:1},
		 function(data){
			 var json=eval(data);
			 if(json!=null){
			 $(".ing").html("");	 
			 for(var i=0;i<=json.length;i++){				 
				 $(".ing").append("<div class='show'><div><a href='__URL__/xianshibystore?id="+json[i].xianshi_id+"'><img src='_IMG_/"+json[i].xianshi_id+"x.jpg'><div class='span'><div class='colockbox' id='colockbox"+i+"'><span style='text-align:left;padding-left:5px;width:50px;background:url(http://www.chahuitong.com/wap/Public/Home/img/time.png) right center no-repeat'>剩余:</span><span class='day'>00</span><span class='hour'>00</span> <span class='minute'>00</span><span class='second'>00</span></div></div></div><p>"+json[i].store_name+"-"+json[i].xianshi_name+"<span>"+Math.round(json[i].zhe)+"折起</span></p></a></div>");
								  countDown(json[i].end_time,"#colockbox"+i);  	
				 }
			if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		       $("header").hide();	
	           }	 
			 }else{				 
				 $(".ing").html("暂无信息");
				 if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		       $("header").hide();	
	           }				 
				 }			 
			 },
         "json"   
	   )
		  })    
	   
	   
	function writeObj(obj){ 
    var description = ""; 
    for(var i in obj){   
        var property=obj[i];   
        description+=i+" = "+property+"\n";  
    }   
    alert(description); 
}    
	   	    
});
</script>
</head>
<body>
<header>
<a href="javsscript:history.back()"><img src="_IMG_/fanhui.png"></a>闪购
<a href="__URL__/index"><img src="_IMG_/home.png"></a>
</header>
<div class="flash">
<div class="flash_nav">
<span id="nav1">进行中</span><span id="nav2">即将开始</span>
</div>
<div class="ing">

</div>
</div>
<script> 
	  function countDown(time,id){
	var day_elem = $(id).find('.day');
	var hour_elem = $(id).find('.hour');
	var minute_elem = $(id).find('.minute');
	var second_elem = $(id).find('.second');
	//var end_time = new Date(time).getTime(),//月份是实际月份-1
	
	var timer = setInterval(function(){
		var end_time=time*1000;
	sys_second =parseInt((end_time-(new Date().getTime()))/1000);
		if (sys_second > 1) {
			//sys_second -= 1;
			//var day = Math.floor(sys_second /(60*60*24));
			//var hour = Math.floor((sys_second / 3600) % 24);
			//var minute = Math.floor((sys_second / 60) % 60);
			//var second = Math.floor(sys_second % 60);
			var day=Math.floor(sys_second/(60*60*24)); 
            var hour=Math.floor((sys_second-day*24*60*60)/3600); 
            var minute=Math.floor((sys_second-day*24*60*60-hour*3600)/60); 
            var second=Math.floor(sys_second-day*24*60*60-hour*3600-minute*60);
			day_elem && $(day_elem).text(day+"天");//计算天
			$(hour_elem).text(hour<10?"0"+hour+"时":hour+"时");//计算小时
			$(minute_elem).text(minute<10?"0"+minute+"分":minute+"分");//计算分钟
			$(second_elem).text(second<10?"0"+second+"分":second+"秒");//计算秒杀
		} else { 
			clearInterval(timer);
		}
	 }, 1000);
	 
    }
	
</script>

<include file="public/foot"/>
<script>
window.onload=function(){
	if(navigator.userAgent.indexOf("android")!=-1||navigator.userAgent.indexOf("ios")!=-1){
		       $("header").hide();	
	           }	 

      }
</script>
</body>
</html>
