@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{width:100%;min-width:320px;max-width:640px;text-align:center;font-family:"微软雅黑";margin:0 auto;}
a{text-decoration:none;}
li{list-style-type:none;}
.nav{position:fixed;left:5%;bottom:40px;}
.nav a{display:block;}
.nav img{width:30px;}
header{width:100%;}
header nav{width:100%;background:#1b8b80;line-height:30px;height:36px;}
header nav img{width:22px;vertical-align:middle;margin-right:5px;}
header nav a{color:#fff;font-size:0.9em;font-weight:100;display:inline-block;}
header nav .on{border-top:3px solid #fff;}