<meta charset="utf-8"/>
<title>[title]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="Keywords" content="茶汇通,茶叶网购,茶叶电商,茶叶商城,普洱茶">
<meta name="Description" content="茶汇通，茶叶电子商务综合服务平台，最大的茶叶网购专业平台">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<js href="_JS_/TouchSlide.js" />
<js href="_JS_/jquery.min.js" />