.huodong ul li{width:1200x;height:395px;margin-top:25px;}
.huodong .pics{width:594px;height:395px;}
.huodong .pics img{width:594px;height:395px;display:block;border:none;}
.huodong .body{background:#efefef;width:544px;height:345px;padding:25px;position:relative;}
.huodong .body h4{line-height:60px;}
.huodong .body .texts{width:544px;height:75px;overflow:auto;margin-bottom:16px;}
.huodong .body p span{display:block;width:1px;height:14px;background:#1b8b80;float:left;margin-top:6px;margin-right:6px;}
.huodong .body p a{color:#1b8b80;font-size:16px;font-weight:600;}
.huodong .jiaru{margin-top:45px;}
.huodong .jiaru span{color:#c9c9c9;}
.huodong .jiaru span img{width:20px;vertical-align:middle;padding:0 10px;}
.huodong .jiaru .zt{color:#fff;background:#1b8b80;display:block;width:90px;height:30px;line-height:30px;text-align:center;}
.huodong .jiaru .jieshu{background:#bcbcbc;}
.page{width:1200px;margin:100px 0 50px 0;}
.huodong .body .sanjiao{position:absolute;top:50px;}
div.left.body .sanjiao{right:-50px;border-left:50px solid #efefef;border-top:22px solid rgba(0,0,0,0);border-bottom:22px solid rgba(0,0,0,0);}
div.right.body .sanjiao{left:-50px;border-right:50px solid #efefef;border-top:22px solid rgba(0,0,0,0);border-bottom:22px solid rgba(0,0,0,0);}
.page .num{float:left;}