.save{width:100%;border-top:1px solid #c9c9c9;}
.save ul{width:1200px;margin:0 auto;}
.lx{width:830px;float:left;}
.lx .title{width:570px;float:left;}
.lx .search{width:255px;height:30px;float:right;padding:16px 0;}
#text{width:208px;height:28px;border:1px solid #c9c9c9;}
#butn{width:40px;height:30px;float:right;border:none;background:#c9c9c9 url(../img/shequ/search.png) no-repeat center;;}
.lx .toux{clear:both;width:830px;background:#1b8b80;padding-top:50px;position:relative;}
.lx .toux_i{padding:0px 40px 0px 75px;float:left;}
.lx .toux_i img{width:179px;height:179px;border-radius:50%;}
.lx .toux_j{color:#fff;padding-bottom:75px;}
.lx .toux_j h1{font-weight:500;margin-bottom:30px;}
.lx .toux_j h1 img{vertical-align:middle;width:30px;margin-left:45px;}
.lx .toux_j p{color:#fff;}
.lx .toux_jia,.lx .toux_yi{width:828px;height:66px;line-height:66px;text-align:center;background:#fff;border:1px solid #1b8b80;}
.lx .toux_jia{color:#585858;}
.lx .toux_yi{color:#1b8b80;}
.lx .toux_jia img,.lx .toux_yi img{vertical-align:middle;margin-right:6px;}
.lx .toux_g{color:#fff;width:140px;height:40px;border:1px solid #fff;line-height:40px;text-align:center;position:absolute;top:50px;right:30px;}
.lx .list{background:#efefef;padding:10px 0;}
.lx .list>li{background:#fff;margin:10px;}
.lx .list .rong{padding:40px 40px 0;}
.lx .list .rong h4{padding-bottom:40px;color:#c9c9c9;font-weight:500;}
.lx .list .rong h4 span{margin-right:36px;}
.lx .list .rong p{padding-bottom:40px;border-bottom:1px solid #c9c9c9;}
.lx .list .share{height:66px;line-height:66px;text-align:center;}
.lx .list .share a{width:240px;}
.huifu{background:#f6f6f6;width:810px;}
.lx .list form{padding:20px;}
.lx .list form textarea{width:590px;height:115px;float:left;padding:20px 10px 5px 100px;}
.lx .list form input{background:#1b8b80 url(../img/shequ/fabiao.png) no-repeat center;width:55px;height:142px;border:none;}
.huifu{position:relative;display:none;}
.huifu_l{padding:0 36px;}
.huifu_l li{border-bottom:1px dashed #c9c9c9;padding:16px 0;}
.huifu_i{width:64px;float:left;}
huifu_i img{width:64px;height:64px;}
.huifu_t{padding-left:90px;width:650px;}
.huifu_t h4{font-weight:500;margin-bottom:25px;}
.huifu_t h4 span{color:#c9c9c9;font-size:14px;}
.huifu_t h4 .timer{margin-left:40px;}
.huifu_t h4 .hf{margin:0 10px;}
.page{width:750px;margin:0 auto;}
.sanjiao{width:0px;height:0px;background:#000;border-bottom:12px solid #000;border-left:12px solid #fff;border-right:12px solid #fff;position:absolute;top:-12px;left:390px;}
.renqi li{width:340px;height:80px;border:1px solid #c9c9c9;border-radius:3px;overflow:hidden;}
.renqi li a{display:block;width:250px;height:69px;padding-top:11px;float:left;}
.renqi li a>img{display:block;float:left;width:58px;height:58px;margin:0px 25px 0 16px;border-radius:50%;}
.renqi li a p{height:25px;overflow:hidden;}
.renqi li a p img{width:16px;vertical-align:middle;margin-left:10px;}
.renqi li div{background:#efefef;;width:100px;height:80px;line-height:80px;color:#585858;text-align:center;font-size:18px;float:right;}
.renqi li div.on{background:#1b8b80;color:#fff;}
.bangdan{clear:both;background:#efefef;margin-top:50px;text-align:center;padding:5px;height:965px;}
.bangdan li{background:#fff;width:154px;height:231px;float:left;margin:5px;color:#585858;}
.bangdan .bd_t{position:relative;width:154px;height:175px;overflow:hidden;border-bottom:1px solid #c9c9c9;}
.bangdan .bd_t>img{width:58px;height:58px;border-radius:50%;margin-top:20px;}
.bangdan .bd_t h6{font-weight:500;}
.bangdan .bd_t h6 img{vertical-align:middle;width:14px;margin-left:6px;}
.bangdan .bd_t span{font-size:12px;display:block;border:1px solid #c9c9c9;width:60px;height:20px;line-height:20px;margin:10px auto;}
.bangdan .bd_t>p{height:30px;line-height:30px;overflow:hidden;}
.bangdan .bd_t .cons{background:rgba(27,139,128,0.9);width:124px;height:175px;padding:0 15px;position:absolute;top:0;left:0;display:none;}
.bangdan .bd_t:hover .cons{display:block;}
.bangdan .bd_t .cons a{display:block;color:#fff;padding:20px 0;font-size:15px;}
.bangdan .bd_t .cons p{color:#eee;}
.bangdan .gz_yi,.bangdan .gz_jia{line-height:55px;font-size:18px;}
.bangdan .gz_yi img,.bangdan .gz_jia img{width:22px;vertical-align:middle;margin-right:3px;}
.bangdan .gz_yi{color:#1b8b80;}
.contexter{width:815px;float:left;}

.sharer{text-align:center;height:36px;line-height:36px;}
.sharer a{display:block;width:240px;float:left;color:#585858;font-size:14px;}
.sharer img{vertical-align:middle;margin-right:5px;width:25px;}
.contexter{width:815px;float:left;}
#img{position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.5);display:none;}
#img img{width:800px;display:block;margin:50px auto;}
