.title{margin:16px 0;}
.juju .title span{background:url(../img/shequ/bg01.png) no-repeat;background-position:0px 3px;}
.shequ{width:100%;height:150px;background:url(../images/top1.png) no-repeat;background-position:center;}
.juju h3{font-weight:500;}
.leftli{float:left;width:410px;height:600px;border:1px solid #c9c9c9;margin-right:6px;}
.leftli img{display:block;width:410px;height:410px;}
.leftli h3{margin:30px 0 20px 40px;}
.leftli ul{margin-left:40px;}
.leftli ul li{border:none;font-size:14px;color:#585858;line-height:30px;width:184px;float:left;}
.leftli .on{letter-spacing:28px;}
.color{color:#1b8b80;font-weight:600;}
.font{font-family:ChantelliAntiquaRegular,Arial;color:#1b8b80;}
.juju .huodong{background:#efefef;width:360px;height:602px;float:right;}
.juju .huodong ul{width:315px;margin:0 auto;padding-top:15px;}
.juju .huodong ul li{border-bottom:1px dashed #c9c9c9;padding:25px 0;}
.juju .huodong h3{padding-bottom:12px;}
.juju .huodong h3 a{float:right;font-size:14px;color:#1b8b80;}
.juju .huodong .on{letter-spacing:26px;}
.juju .huodong .text{height:20px;overflow:hidden;padding-top:11px;}
.huati{clear:both;padding-top:1px;height:775px;}
.xinsheng{width:830px;float:left;}
.xinsheng .title span{background:url(../img/shequ/bg02.png) no-repeat;background-position:0px 3px;}
.xinsheng .title{margin-bottom:0;}
.xinsheng ul li{border-bottom:1px solid #c9c9c9;height:165px;padding-top:16px;}
.xinsheng ul li span{display:block;float:left;}
.xinsheng ul li span img{width:150px;height:150px;}
.xinsheng .ul_t{background:#1b8b80;color:#fff;width:22px;height:120px;font-size:22px;padding:15px 9px;margin-right:1px;}
.xinsheng .ul_d{background:#efefef;color:#585858;width:18px;height:106px;font-size:18px;padding:22px 11px;margin-right:1px;}
.xinsheng .context{margin-right:30px;width:580px;float:right;}
.xinsheng .context h3{font-weight:500;padding:9px 0 10px;}
.xinsheng .context h3 .right{float:right;font-size:14px;color:#585858;}
.xinsheng .context div{margin-top:20px;}
.share a{display:block;width:100px;float:left;color:#585858;font-size:14px;}
.share img{vertical-align:middle;margin-right:5px;}
.lingxiu{float:right;width:360px;}
.lingxiu .title span{background:url(../img/shequ/bg03.png) no-repeat;background-position:0px 3px;}
.lingxiu li{width:175px;height:231px;float:left;text-align:center;background:#efefef;margin-bottom:10px;}
.lingxiu li:nth-child(2n+1){margin-right:10px;}
.lingxiu li img{display:block;width:175px;height:175px;margin-bottom:6px;}
.lingxiu li p{line-height:20px;}
.shai{clear:both;}
.shai .title span{background:url(../img/shequ/bg04.png) no-repeat;background-position:0px 3px;}
.shai li{border-bottom:1px solid #c9c9c9;height:140px;padding-top:16px;}
.shai .img{width:64px;height:120px;float:left;margin-right:25px;}
.shai .img img{width:64px;}
.shai .context{width:685px;height:122px;float:left;position:relative;}
.shai .context h3{font-weight:500;margin-bottom:20px;}
.shai .context h3 a{display:block;width:128px;float:left;}
.shai .context h3 span{font-size:14px;color:#585858;padding-right:12px;}
.shai .context p{height:56px;overflow:hidden;}
.shai .context .share{position:absolute;left:0;bottom:0px;}
.shai .pic{float:right;width:420px;height:122px;text-align:right;overflow:hidden;}
.shai .pic img{width:122px;height:122px;margin-left:10px;}
.paihang{width:360px;float:right;margin-top:16px;}
.paihang .p_t{width:360px;height:30px;line-height:30px;}
.paihang .p_t span{background:#1b8b80;display:block;width:12px;height:30px;float:left;margin-right:30px;}
.paihang ul li{width:360px;margin:16px 0;}
.paihang ul li .p_p{background:#efefef;padding:36px;position:relative;}
.paihang ul li .p_p img{display:block;width:44px;position:absolute;top:0;left:0;}
.paihang ul li.on .p_p{background:#1b8b80;}
.paihang ul li.on .p_p p{color:#fff;}
.paihang ul li.on .p_p a{color:#ccc;}
.paihang ul li .p_p a{color:#1b8b80;margin-left:15px;}
.paihang ul li .p_h{padding-left:36px;padding-bottom:10px;border:1px solid #c9c9c9;border-top:none;}
.paihang ul li .p_h h3{font-weight:500;line-height:50px;}
.page{width:830px;}
.juj{width:830px;float:left;}
.juj .title span{background:none;padding:0;}
.juj ul li{height:170px;border-bottom:1px solid #c9c9c9;padding-top:16px;height:100px;overflow:hidden}
.juj .pic{width:150px;height:150x;float:left;}
.juj .pic img{display:block;width:150px;height:150px;}
.juj .con{width:630px;float:right;margin-right:20px;}
.juj h3{padding-bottom:16px;border-bottom:1px dashed #c9c9c9;}
.juj h3 div{float:right;font-size:14px;}
.juj h3 div span.num{margin-right:45px;}
.juj .p_s{padding:12px 0;}
.juj .p_s span{margin-right:40px;}
.xinsheng .page .num ul li{height:36px;padding:0;}
.page li span{padding:0px 16px;float:left;}