.zixun{width:100%;height:36px;line-height:36px;border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;font-size:14px;color:#585858;margin-bottom:32px;}
.zixun div{width:1200px;margin:0 auto;text-align:right;}
.zixun div a{color:#585858;padding:0 25px;}
.context{width:815px;float:left;}
.title span{margin-left:0px;}
.context li{border-bottom:1px solid #c9c9c9;padding-top:16px;height:166px;}
.context li .pic{display:block;width:148px;height:148px;float:left;margin-right:28px;}
.context li h3{padding:14px 0 10px 0;}
.context li .share img{width:18px;vertical-align:middle;margin-left:15px;}
.context li .text{padding-top:8px;line-height:22px;height:44px;overflow:hidden;}
.tuijian{width:360px;float:right;}
.tuijian .title img{vertical-align:middle;margin-left:12px;}
.tuijian .t_ul li{border-bottom:1px solid #c9c9c9;padding:16px 0;position:relative;}
.tuijian .t_ul li img{display:block;width:360px;}
.tuijian .t_ul li div{position:absolute;left:0;bottom:16px;background:rgba(0,0,0,0.5);width:360px;height:30px;}
.tuijian .t_ul li div p{margin-left:15px;color:#fff;height:30px;overflow:hidden;}
.xq h1{font-weight:500;padding-bottom:18px;}
.xq h5{color:#585858;font-size:16px;padding-bottom:30px;border-bottom:1px solid #c9c9c9;}
.xq h5 .time{font-size:14px;font-weight:500;margin-left:25px;}
.xq h5 .link a{color:#585858;font-size:14px;font-weight:500;margin-left:12px;background:#efefef;padding:0 5px;}
.xq .text{padding-bottom:75px;border-bottom:1px solid #c9c9c9;}
.xq .text p{padding-top:32px;text-indent:30px;}
.xq .text img{display:block;width:815px;margin-top:32px;}
.xq .share{margin-top:18px;color:#c9c9c9;font-size:30px;}
.xq .share img{width:48px;vertical-align:middle;margin:0 25px;}
a.right{margin-right:22px;}
.rewen{background:#efefef;padding:25px;width:310px;margin-top:10px;}
.rewen img{display:block;width:310px;padding:25px 0;}
.rewen p{height:72px;overflow:hidden;}
.r_ul li{border-bottom:1px solid #c9c9c9;height:48px;line-height:48px;overflow:hidden;padding:0 25px;}
.r_ul li a{font-size:15px;font-weight:600;}