.mail{margin-bottom:50px;}
.bianji{border:1px solid #c9c9c9;padding:25px 45px;}
.bianji ul li{margin-bottom:16px;}
.bianji label{display:block;float:left;margin-right:8px;}
#title,#con{width:1020px;background:#efefef;border:none;line-height:30px;}
#fabu{background:#1b8b80;width:60px;line-height:24px;color:#fff;border:none;float:right;margin-right:18px;}
#list{padding-left:72px;margin-top:16px;}
#list span{margin-right:5px;}
#list span img{width:100px;}