<!DOCTYPE HTML>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>客户服务管理后台-修改客户信息</title>
<link rel="stylesheet" type="text/css" href="_CSS_/admin.css" />
<script type="text/javascript" src="_JS_/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="_STATIC_/WdatePicker.js"></script>
<script type="text/javascript" src="_JS_/formValidatorRegex.js"></script>
<script type="text/javascript" src="_JS_/formValidator.js"></script>
<link rel="stylesheet" type="text/css" href="_JS_/validator.css" />
</head>
<style type="text/css">
.col_four{
	display:inline-block;
	border:1px solid #fbaa01;
	background-color:#fbaa01;
	color:white;
	padding:5px;
}
.admin_box input{
	margin-bottom:10px;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	
	$.formValidator.initConfig({formID:"myForm",debug:false,submitOnce:false,
		onError:function(msg,obj,errorlist){
			alert(msg);
		},
	});
	
	$("#name").formValidator({onShow:"请输入姓名",onFocus:"姓名长度不小于两位",onCorrect:"填写正确"})
	.inputValidator({min:"2",onError:"姓名长度不小于两位"});
	$("#telphone").formValidator({onShow:"请输入电话",onFocus:"电话长度等于十一位",onCorrect:"填写正确"})
	.regexValidator({regExp:"intege1",dataType:"enum",onError:"电话格式不正确"});
	$("#deal_date").formValidator({onShow:"请输入日期",onFocus:"请选择日期",onCorrect:"填写正确"})
	.inputValidator({min:"2",onError:"日期有误"});
})
</script>
<body>
<include file="Public/menu" />
<div class="admin_box">
<form action="{:U('Customer/update_db')}" method="post" id="myForm">
<input type="hidden" value="{$data.id}" name="id"/>
姓名:<input type="text" name="name" value="{$data.name}" id="name"/>
<span id="nameTip"></span>
<br>
电话:<input type="text" maxlength="11"  value="{$data.telphone}" name="telphone" id="telphone"/>
<span id="telphoneTip"></span>
<br>
订单日期:<input type="text" name="deal_date" value="{$data.deal_date}" id="deal_date" onclick="WdatePicker()"/>
<span id="deal_dateTip"></span>
<br>
<input type="submit" value="提交"/>
</form>
</div>
</body>
</html>