@CHARSET "utf-8";
/* 后台管理页面（通用） */
a{
	color:black;
	text-decoration:none;
}
a:hover{
	color:green;
	text-decoration:underline;
}
a:linked{
	color:black;
}
/*后台登录页面*/
.login_box{
	border:2px solid #fbaa01;
	border-radius:10px;
	width:400px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-150px;
	text-align:center;
}
.login_box input{
	margin-bottom:20px;
}
.login_box1{
	width:180px;
	height:130px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-65px;
	margin-left:-90px;
}

/* 后台管理首页 */
.menu{
	float:left;
	width:10%;
	height:255px;
	border:1px solid gray;
}
.menu ul{
	width:100%;
	margin-left:-40px;
}
.menu ul li{
	list-style:none;
	margin-bottom:6px;
	text-align: center;
}
.menu ul li a{
	display:inline-block;
	padding:5px;
}
.menu ul li a:hover{
	background-color:#fbaa01;
	color:white;
	text-decoration: none;
}
/* 后台home */
.admin_box{
	width:90%;
	margin-left:10.1%;
}
.admin_box table{
	border:1px solid gray;
	width: 100%;
	height: 257px;
	max-height: 10000px;
}
.admin_box table tr:hover{
	background-color:#f5f5f5;
}
.admin_box table tr td{
	text-align: center;
	width:20%;
	line-height:35px;
}
/* 后台流程 */
.step{
	float: left;
	margin-left:12px;
	width:19%;
}
.subButton{
	border:1px solid #fbaa01;
	background-color:white;
	width:100%;
	padding:5px 5px;
	cursor: pointer;
	margin-top:8px;
	font-size:14px;
	border-radius:5px;
}
.hint_content{
	border:2px solid gray;
	min-height:50px;
}