<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>茶汇通-山头首页</title>
<link rel="stylesheet" type="text/css" href="_CSS_/news.css" />
<style type="text/css">
</style>
</head>
<body>
<!-- 头部 -->
<include file="Public/head"/>
<!-- 茶-分类 -->
<div class="fenlei">
<ul class="feilei-items">
<li><a href="{:U('Index/index')}" style="color:#edb201;border-bottom:2px solid #edb201;padding-bottom:5px">普洱茶</a></li>
<li><a href="{:U('Index/wulong')}">乌龙茶</a></li>
<li><a href="{:U('Index/hong')}">红茶</a></li>
<li><a href="{:U('Index/lv')}">绿茶</a></li>
<li><a href="{:U('Index/hei')}">黑茶</a></li>
<li><a href="{:U('Index/huang')}">黄茶</a></li>
<li><a href="{:U('Index/bai')}">白茶</a></li>
</ul>
</div>
<!-- 幻灯片 -->
<div class="slide" id="slide3">
    <ul>
        <li>
            <a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/detail/aid/2907">
                <img src="_IMG_/test.jpg">
            </a>
        </li>
        <li>
            <a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/detail/aid/2927">
                <img src="_IMG_/半坡老寨.jpg">
            </a>
        </li>
    </ul>
    <div class="dot">
        <span></span>
        <span></span>
    </div>
</div>
<!-- 印象 -->
<div class="yinxiang">
<div>
<a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/yinxiang/typeid/75" target="_self"><img src="_IMG_/cy.png" />
<p>印象茶园</p></a>
</div>
<div>
<a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/yinxiang/typeid/76" target="_self"><img src="_IMG_/bn.png" />
<p>印象版纳</p></a>
</div>
<div>
<a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/yinxiang/typeid/78" target="_self"><img src="_IMG_/mh.png" />
<p>印象勐海</p></a>
</div>
<div>
<a href="http://www.chahuitong.com/mobile/app/b2b/index.php/News/Index/yinxiang/typeid/79" target="_self"><img src="_IMG_/cs.png" />
<p>印象茶山</p></a>
</div>
</div>

<!-- 各大茶区 -->
<div class="chaqu">
<!-- 勐海 -->
<div class="cha_item">
<div><a href="__URL__/detail/aid/2983"><img src="_IMG_/menghai.png" class="cha_logo"/></a></div>
<div class="shantou-content">
<div class="shantou">
<h2><a href="__URL__/detail/aid/2912">布朗山</a></h2>
<span><a href="__URL__/detail/aid/2909">老班章</a></span>|<span><a href="__URL__/detail/aid/2913">新班章</a></span>|<span><a href="__URL__/detail/aid/2908">老曼峨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2925">南糯山</a></h2>
<span><a href="__URL__/detail/aid/2927">半坡老寨</a></span>|<span><a href="__URL__/detail/aid/2930">石头老寨</a></span>|<span><a href="__URL__/detail/aid/2933">拔玛</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2940">勐宋</a></h2>
<span><a href="__URL__/detail/aid/2942">那卡</a></span>|<span><a href="__URL__/detail/aid/2944">保塘</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2921">巴达山</a></h2>
<span><a href="__URL__/detail/aid/2923">章朗</a></span>|<span><a href="__URL__/detail/aid/2922">曼迈</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2915">贺开</a></h2>
<span><a href="__URL__/detail/aid/2914">邦盆老寨</a></span>|<span><a href="__URL__/detail/aid/2917">广别老寨</a></span>|<span><a href="__URL__/detail/aid/2919">曼竜老寨</a></span>|<span><a href="__URL__/detail/aid/2918">曼弄老寨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2939">曼糯</a></h2>
<span>暂无山头信息,敬请期待！</span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2934">帕沙</a></h2>
<span><a href="__URL__/detail/aid/2937">帕沙老寨</a></span>|<span><a href="__URL__/detail/aid/2936">帕沙新寨</a></span>|<span><a href="__URL__/detail/aid/2938">帕沙中寨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2945">关双</a></h2>
<span><a href="__URL__/detail/aid/2947">曼帕</a></span>|
</div>
</div>
<div class="close">关闭详情 <img src="_IMG_/up.png"/></div>
<div class="open">展开详情 <img src="_IMG_/down.png"/></div>
</div>
<!-- 勐腊 -->
<div class="cha_item">
<div><a href="__URL__/detail/aid/2985"><img src="_IMG_/mengla.png" class="cha_logo"/></a></div>
<div class="shantou-content">
<div class="shantou">
<h2><a href="__URL__/detail/aid/2948">易武</a></h2>
<span><a href="__URL__/detail/aid/2951">麻黑</a></span>|<span><a href="__URL__/detail/aid/2952">落水洞</a></span>|<span><a href="__URL__/detail/aid/2953">刮风寨</a></span>|<span><a href="#">弯弓</a></span>|<span><a href="__URL__/detail/aid/2956">大漆树</a></span>|<span><a href="__URL__/detail/aid/2957">荒田</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2992">蛮砖</a></h2>
<span><a href="__URL__/detail/aid/2993">曼林</a></span>|<span><a href="__URL__/detail/aid/2996">曼迁</a></span>|<span><a href="__URL__/detail/aid/3001">八总寨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3007">革登</a></h2>
<span><a href="__URL__/detail/aid/3011">值蚌</a></span>|<span><a href="__URL__/detail/aid/3013">新发</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3016">莽枝</a></h2>
<span><a href="__URL__/detail/aid/3020">秧林</a></span>|<span><a href="__URL__/detail/aid/3018">董家寨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2961">攸乐</a></h2>
<span><a href="__URL__/detail/aid/2966">亚诺</a></span>|<span><a href="__URL__/detail/aid/2982">龙帕山</a></span>|<span><a href="#">司土老寨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2988">倚邦</a></h2>
<span><a href="__URL__/detail/aid/2990">曼松</a></span>|<span><a href="__URL__/detail/aid/2995">习空</a></span>|<span><a href="__URL__/detail/aid/3000">架布</a></span>|<span><a href="__URL__/detail/aid/3003">曼拱</a></span>|
</div>
</div>
<div class="close">关闭详情 <img src="_IMG_/up.png"/></div>
<div class="open">展开详情 <img src="_IMG_/down.png"/></div>
</div>
<!-- 普洱 -->
<div class="cha_item">
<div><a href="__URL__/detail/aid/2986"><img src="_IMG_/puer.png" class="cha_logo"/></a></div>
<div class="shantou-content">
<div class="shantou">
<h2><a href="#">景迈山</a></h2><a href="__URL__/detail/aid/2954">芒景</a>|<span><a href="__URL__/detail/aid/2958">景迈</a></span>|<span><a href="__URL__/detail/aid/2960">勐本</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2907">困鹿山</a></h2>
<span><a href="#">西萨</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3041">无量山</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2916">哀牢山</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2929">老乌山</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3028">景星豪门</a></h2>
<span><a href="__URL__/detail/aid/2901">景星</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2924">迷帝贡茶</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2926">老仓福德</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2946">东卡河</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2935">黄草坝</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2941">邦崴</a></h2>
<span><a href="__URL__/detail/aid/2941">邦崴</a></span>|<span><a href="#">那东</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2928">漫湾</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2931">田坝</a></h2>
<span><a href="__URL__/detail/aid/2962">老海塘</a></span>|<span><a href="__URL__/detail/aid/2963">茶山箐</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2932">文山</a></h2>
<span><a href="__URL__/detail/aid/2967">文山顶</a></span>|<span><a href="__URL__/detail/aid/2964">苦竹山</a></span>|<span><a href="__URL__/detail/aid/2965">小景谷</a></span>|
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2943">文东</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2949">腊福</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2950">芒中</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3029">金鼎</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/2910">御笔</a></h2>
</div>
</div>
<div class="close">关闭详情 <img src="_IMG_/up.png"/></div>
<div class="open">展开详情 <img src="_IMG_/down.png"/></div>
</div>
<!-- 临沧 -->
<div class="cha_item">
<div><a href="__URL__/detail/aid/2987"><img src="_IMG_/lincang.png" class="cha_logo"/></a></div>
<div class="shantou-content">
<div class="shantou">
<h2><a href="__URL__/detail/aid/3081">勐库</a></h2>
<span><a href="__URL__/detail/aid/3040">冰岛</a></span>|<span><a href="__URL__/detail/aid/3005">大户赛</a></span>|<span><a href="__URL__/detail/aid/3023">小户赛</a></span>|<span><a href="__URL__/detail/aid/3006">大雪山</a></span>|<span><a href="__URL__/detail/aid/3015">亥公</a></span>|<span><a href="__URL__/detail/aid/3010">懂过</a></span>|<span><a href="__URL__/detail/aid/2991">坝卡寨</a></span>|<span><a href="__URL__/detail/aid/2998">坝歪寨</a></span>|<span><a href="__URL__/detail/aid/2997">坝气山</a></span>|<span><a href="__URL__/detail/aid/3025">正气塘</a></span>|<span><a href="__URL__/detail/aid/3022">那赛</a></span>|<span><a href="__URL__/detail/aid/3008">东来</a></span>|<span><a href="__URL__/detail/aid/3021">那蕉</a></span>|<span><a href="__URL__/detail/aid/3017">忙蚌</a></span>|<span><a href="__URL__/detail/aid/2999">邦改</a></span>|<span><a href="__URL__/detail/aid/3012">公弄</a></span>|<span><a href="__URL__/detail/aid/2994">坝糯</a></span>|<span><a href="__URL__/detail/aid/3002">丙山</a></span>|
</div>
<div class="shantou">
<h2><a href="#">昔归</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3014">邦东</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3019">茶房</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3027">平河</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3009">白莺山</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3026">香竹箐</a></h2>
</div>

</div>
<div class="close">关闭详情 <img src="_IMG_/up.png"/></div>
<div class="open">展开详情 <img src="_IMG_/down.png"/></div>
</div>
<!-- 其他 -->
<div class="cha_item">
<div><img src="_IMG_/qita.png" class="cha_logo"/></div>
<div class="shantou-content">
<div class="shantou">
<h2><a href="__URL__/detail/aid/3038">施甸县</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3037">龙陵县</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3030">昌宁</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3039">腾冲县</a></h2>
</div>
<div class="shantou">
<h2><a href="__URL__/detail/aid/3035">摆马村</a></h2>
</div>
</div>
<div class="close">关闭详情 <img src="_IMG_/up.png"/></div>
<div class="open">展开详情 <img src="_IMG_/down.png"/></div>
</div>
<div class="bottom"><img src="_IMG_/backtop.png" width="50px"/></div>
</div>
<script src="_JS_/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
$.noConflict();
</script>
<script src="_JS_/zepto.min.js" type="text/javascript"></script>
<script src="_JS_/swipeSlide.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    $('#slide3').swipeSlide({
        continuousScroll:true,
        speed : 3000,
        transitionType : 'cubic-bezier(0.22, 0.69, 0.72, 0.88)',
        callback : function(i){
            $('.dot').children().eq(i).addClass('cur').siblings().removeClass('cur');
        }
    });
    
    //顶部茶分类-点击效果
    $(".feilei-items li a").click(function(){
  	  	$(".feilei-items li a").css({"color":"#999999","border-bottom":"none"});
    		$(this).css({"color":"#edb201","border-bottom":"2px solid #edb201","padding-bottom":"5px"});
    })
    //山头详情-点击隐藏，显示
    $(".open").click(function(){
   	 	$(this).siblings(".shantou-content").css("display","block");
   	 	$(this).hide();
   	 	$(this).prev(".close").show();
    })
    $(".close").click(function(){
    		$(this).siblings(".shantou-content").css("display","none");
    		$(this).hide();
   	 	$(this).next(".open").show();
    })
    
    jQuery(".bottom").click(function(){
    		jQuery("body,html").animate({
    	   		 scrollTop: "0"
    		}, 1000)
   	 })
});
</script>
</body>
</HTML>
