<!DOCTYPE HTML>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>客户服务管理后台-修改客户流程信息</title>
<link rel="stylesheet" type="text/css" href="_CSS_/admin.css" />
<script type="text/javascript" src="_JS_/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="_STATIC_/WdatePicker.js"></script>
<script type="text/javascript" src="_JS_/formValidatorRegex.js"></script>
<script type="text/javascript" src="_JS_/formValidator.js"></script>
<link rel="stylesheet" type="text/css" href="_JS_/validator.css" />
</head>
<style type="text/css">
.col_four{
	display:inline-block;
	border:1px solid #fbaa01;
	background-color:#fbaa01;
	color:white;
	padding:5px;
}
.admin_box input{
	margin-bottom:10px;
}
</style>
<body>
<include file="Public/menu" />
<div class="admin_box">
<volist name="data" id="vo">

<div class="step">
<form action="{:U('Process/update_db')}" method="post">
<h1>
<if condition="$vo.step eq 1">试衣</if>
<if condition="$vo.step eq 2">摄影</if>
<if condition="$vo.step eq 3">选样</if>
<if condition="$vo.step eq 4">定稿</if>
<if condition="$vo.step eq 5">取件</if>
</h1>

<input type="hidden" name="id" value="{$vo.id}" id="id">
<input type="hidden" name="step" value="{$vo.step}" id="step">

跟单人：
<br>
<select name="actor_id">
<if condition="$vo.actor_id neq ''">
</else>
<option selected="selected" value="{$vo.actor_id}">{$vo.actor}--{$vo.utype}</option>
<option value="">不选择</option>
<volist name="data1" id="vo1">
<option value="{$vo1.id}">{$vo1.name}--{$vo1.user_type}</option>
</volist>
</select>
</if>
<br>
<select name="actor_id1">
<if condition="$vo.actor_id1 neq ''">
</else>
<option selected="selected" value="{$vo.actor_id1}">{$vo.actor1}--{$vo.utype1}</option>
<option value="">不选择</option>
<volist name="data1" id="vo1">
<option value="{$vo1.id}">{$vo1.name}--{$vo1.user_type}</option>
</volist>
</select>
</if>
<br><br>
时间：
<input type="text" value="{$vo.process_date}" name="process_date" id="process_date" onclick="WdatePicker()"/><br>
地点：
<input type="text" value="{$vo.address}" name="address" id="address"/><br>
温馨提示：
<textarea class="content_hint" name="content">{$vo.content}</textarea>
<input type="submit" value="提交" class="subButton"/>
</form>
</div>
</volist>
</div>
</body>
</html>