.onShow
{
    background:url(images/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	display:inline-block;
	height: 22px;
}
.onFocus
{
    background:#E9F0FF url(images/onFocus.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	display:inline-block;
	height: 22px;
}
.onError
{
    background:#FFF2E9 url(images/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	display:inline-block;
	height: 22px;
}
.onCorrect
{
    background:#E9FFEB url(images/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	display:inline-block;
	height: 22px;
}
.onLoad
{
    background:#E9FFEB url(images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	display:inline-block;
	height: 22px;
} 